@charset "UTF-8";

html,body {
	color: #fff;
}

.container {
	width: 1200px;
	margin: 0 auto;
}
.title {
	height: 145px;
	width: 100%;
}
.top {
	width: 100%;
	height: 775px;
	background: url(../imgs/subject/ben_two/BT-top-banner.jpg) no-repeat top center;
	position: relative;
}
.top .movie {
	width: 800px;
	height: 240px;
	background-color: #fff5a5;
	box-shadow: 0 0 27px rgba(0,0,0,.3);
	position: absolute;
	left: 50%;
	bottom: -120px;
	margin-left: -400px;
}
.top .movie-left {
	width: 480px;
	height: 240px;
	background-color: #fff5a5;
	float: left;
}
.top .movie-right {
	width: 320px;
	height: 240px;
	float: left;
}
.movie-right h3 {
	font-size: 15px;
	font-weight: bold;
	color: #8d4a0f;
	line-height: 70px;
	text-align: center;
}
.movie-right p {
	font-size: 14px;
	color: #814a0b;
	line-height: 30px;
	padding: 0 16px 0 16px;
}

.ren {
	width: 100%;
	height: 1500px;
	background: url(../imgs/subject/ben_two/BT-ren-bg.png);
}
.ren .title {
	height: 230px;
	background: url(../imgs/subject/ben_two/BT-ren-title.png) no-repeat center bottom;
}
.ren .table {
	height: 760px;
	background: url(../imgs/subject/ben_two/BT-ren-table.png) no-repeat center center;
}
.ren .path {
	height: 490px;
	background: url(../imgs/subject/ben_two/BT-ren-path.png) no-repeat center top;
}

.zai {
	height: 765px;
	background: url(../imgs/subject/ben_two/BT-zai-bg.png);
}
.zai .title {
	background: url(../imgs/subject/ben_two/BT-zai-title.png) no-repeat center center;
}
.zai .page {
	width: 50%;
	height:  270px;
	padding-top: 10px;
	text-align: center;
	float: left;
}
.zai .page-in {
	width: 328px;
	margin: 0 auto;
}
.zai .page img {
	margin: 0 auto;
}
.zai .page h3 {
	font-size: 18px;
	font-weight: bold;
	line-height: 2;
	letter-spacing: 2px;
}
.zai .page p {
	font-size: 14px;
	text-align: left;
	letter-spacing: 2px;
}

.shang {
	width: 100%;
	height: 622px;
	background: url(../imgs/subject/ben_two/BT-shang-bg.jpg) no-repeat top center;
}
.shang .title {
	background: url(../imgs/subject/ben_two/BT-shang-title.png) no-repeat center center;
}
.shang .page {
	width: 50%;
	height: 210px;
	padding-top: 20px;
	float: left;
	/* background-color: pink; */
}
.shang .page-in {
	width: 270px;
	margin: 0 auto;
}
.shang .page-in img {
	margin-bottom: 20px;
}
.shang .page-in p {
	font-size: 16px;
}

.lao {
	width: 100%;
	height: 1098px;
	background: url(../imgs/subject/ben_two/BT-lao-bg.jpg) no-repeat center top;
}
.lao .title {
	background: url(../imgs/subject/ben_two/BT-lao-title.png) no-repeat center center;
}
.lao-in {
	width: 1100px;
	height: 550px;
	background-color: #fff;
	border-radius: 8px;
	box-shadow: 0 10px 30px rgba(0,0,0,.7);
	margin: 20px auto;
}
.lao .left {
	width: 530px;
	height: 550px;
	padding: 0 100px;
	float: left;
}
.lao .left img {
	margin: 0 auto 20px;
}
.lao .left p {
	text-indent: 2em;
	color: #454545;
	font-size: 20px;
	line-height: 3;
}
.lao .left p i {
	font-weight: bold;
	font-style: normal;
}
.lao .right {
	width: 370px;
	height: 520px;
	padding-top: 30px;
	float: right;
}
.lao .right li {
	font-size: 20px;
	color: #454545;
	padding: 16px 0;
}
.lao .right li.bd {
	font-weight: bold;
}
.lao .footer ul {
	width: 1200px;
	margin: 90px auto;
	position: relative;
}
.lao .footer li {
	float: left;
	position: absolute;
	display: none;
}
.lao .footer li:nth-child(1) {
	left: 70px;
}
.lao .footer li:nth-child(2) {
	left: 130px;
}
.lao .footer li:nth-child(3) {
	left: 190px;
}
.lao .footer li:nth-child(4) {
	left: 250px;
}
.lao .footer li:nth-child(5) {
	left: 370px;
}
.lao .footer li:nth-child(6) {
	left: 430px;
}
.lao .footer li:nth-child(7) {
	left: 490px;
}
.lao .footer li:nth-child(8) {
	left: 550px;
}
.lao .footer li:nth-child(9) {
	left: 670px;
}
.lao .footer li:nth-child(10) {
	left: 730px;
}
.lao .footer li:nth-child(11) {
	left: 790px;
}
.lao .footer li:nth-child(12) {
	left: 850px;
}
.lao .footer li:nth-child(13) {
	left: 910px;
}
.lao .footer li:nth-child(14) {
	left: 970px;
}
.lao .footer li:nth-child(15) {
	left: 1030px;
}
.lao .footer li:nth-child(16) {
	left: 1090px;
}


.lao .footer .out li:nth-child(1) {
	display: block;
	transition: all 1s;
}
.lao .footer .out li:nth-child(2) {
	display: block;
	transition: all 1s .5s;
}
.lao .footer .out li:nth-child(3) {
	display: block;
	transition: all 1s 1s;
}
.lao .footer .out li:nth-child(4) {
	display: block;
	transition: all 1s 1.5s;
}

/*底部固定定位*/
/*.fixed_infor {
	position: fixed;
	bottom: 0;
	width: 100%;
	background-color: #ebc040;
	border: 1px solid #977a05;
}
.fixed_infor .fixed_top {
	width: 109px;
	height: 27px;
	position: absolute;
	top: -27px;
	left: 50%;
	margin-left: -55px;
	background: url(../img/fixed_infor_top.png) no-repeat;
	font-size: 16px;
	line-height: 27px;
	text-align: center;
	color: #FFFFFF;
	cursor: pointer;
}

/*open区域*/
/*
.fixed_infor .open {
	margin-top: 40px;
}
.fixed_l {
	float: left;
	font: italic bold 40px/70px arial;
	color: #FFFFFF;
	background: url(../img/fixed_infor_Biphone.png) no-repeat;
	text-indent: 1.8em;
	margin: 0 30px;
}
.fixed_r {
	float: left;
}
.fixed_r .input_box,.fixed_r .sub {
	float: left;
	margin-right: 20px;
}
.fixed_r .input_box input {
	width: 210px;
	height: 50px;
	padding: 0 8px;
	padding-left: 45px;
	font-family: "Microsoft YaHei";
	font-size: 18px;
	line-height: 50px;
	background: #fff url(../img/fixed_infor_name.png) no-repeat 5px center;
	color: #666;
}
.fixed_r .input_box.iph input {
	background-image: url(../img/fixed_infor_Siphone.png);
}
.fixed_r .subl {
	display: block;
	width: 160px;
	height: 50px;
	background-color: #ff5824;
	border-radius: 8px;
	border-bottom: 2px solid #9d2e0c;
	font: bold 20px/50px "microsoft yahei";
	text-align: center;
	color: #FFFFFF;
}
.fixed_infor .open p {
	font-size: 20px;
	line-height: 40px;
	color: #FFFFFF;
	float: left;
}
.fixed_infor .open .trig {
	width: 19px;
	height: 13px;
	background: url(../img/fixed_infor_trig.png) no-repeat;
	position: absolute;
	top: 5px;
	left: 50%;
	margin-left: -10px;
}
/*close区域*/
/*
.fixed_infor .close {
	width: 670px;
	height: 30px;
	margin: 0 auto;
	padding: 10px 0;
}
.fixed_infor .close .logo_text {
	float: left;
	font-size: 22px;
	line-height: 30px;
	background: url(../img/fixed_infor_star.png) no-repeat left center;
	text-indent: 1em;
	border-right: 1px solid #977612;
	color: #ff5824;
}
.fixed_infor .close .logo_text em {
	display: inline-block;
	width: 17px;
	height: 17px;
	background: url(../img/fixed_infor_star.png) no-repeat;
}
.fixed_infor .close .book_phone {
	float: left;
	font-size: 22px;
	font-weight: bold;
	line-height: 34px;
	padding-left: 50px;
	background: url(../img/fixed_infor_Siphon.png) no-repeat 10px center;
	color: #ff5824;
}*/











