@charset "utf-8";
/****  css by nana *****/
/*
                   _ooOoo_
                  o8888888o
                  88" . "88
                  (| -_- |)
                  O\  =  /O
               ____/`---'\____
             .'  \\|     |//  `.
            /  \\|||  :  |||//  \
           /  _||||| -:- |||||-  \
           |   | \\\  -  /// |   |
           | \_|  ''\---/''  |   |
           \  .-\__  `-`  ___/-. /
         ___`. .'  /--.--\  `. . __
      ."" '<  `.___\_<|>_/___.'  >'"".
     | | :  `- \`.;`\ _ /`;.`/ - ` : | |
     \  \ `-.   \_ __\ /__ _/   .-` /  /
======`-.____`-.___\_____/___.-`____.-'======
                   `=---='
^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
         佛祖保佑       永无BUG
*/

/* reset */
html,body,ul,li,ol,dl,dd,dt,p,h1,h2,h3,h4,h5,h6,form,fieldset,legend,img,input { margin:0; padding:0;}
em,i,strong { font-style:normal; }
h1,h2,h3,h4,h5,h6 { font-weight: 400; }
ul,ol,li{ list-style:none; }
img { display:block; border:none; vertical-align:top; }
table { border-collapse:collapse; border-spacing:0; }
input,textarea { outline:none; }
fieldset, img ,input{ border:none;}
textarea { resize:none; overflow:auto; }
p{ word-wrap:break-word; }
body { font-size:14px; font-family: "Microsoft YaHei",tahoma, Helvetica, Arial, "Segoe UI", "Lucida Grande", FreeSans, Arimo, "Droid Sans", "wenquanyi micro hei", "Hiragino Sans GB", "Hiragino Sans GB W3", "FontAwesome", sans-serif;}
html,body {/* width:100%;height:100%;*/background-color:#fbfbfb;}

a{ text-decoration:none; color: #999999;}
a:focus { text-decoration:none; }
a:link { text-decoration:none; } /* no */
a:visited { text-decoration:none; } /* yes */
a:hover { text-decoration:none; } /* hover */
a:active { text-decoration:none; } /* active */
/* end reset */


/* public */

/* 清除浮动 */
.clearfix:after { content:"."; display:block; height:0;visibility:hidden; clear:both; }
.clearfix { zoom:1; }
.clearit { clear:both; height:0; font-size:0; overflow:hidden; }

.inner { width:1200px; margin:0 auto; } /* 版心 */

.borderno { border: none; }
.fl { float: left; }
.fr { float: right; }
.por { position: relative; }
.poa { position: absolute; }
.dn { display: none; }
.db { display: block; }
.dib { display: inline-block; }
.vt { vertical-align: top; }
.vm { vertical-align: middle; }
.vb { vertical-align: bottom; }
.fwb { font-weight: bold; }
.curp { cursor: pointer; }
.ml5 { margin-left: 5px; }
.ml10 { margin-left: 10px; }
.ml20 { margin-left: 20px; }
.ml30 { margin-left: 30px; }
.ml40 { margin-left: 40px; }
.ml50 { margin-left: 50px; }
.ml60 { margin-left: 60px; }
.mr5 { margin-right: 5px; }
.mr10 { margin-left: 10px; }
.mr20 { margin-left: 20px; }
.mr30 { margin-left: 30px; }
.mr40 { margin-left: 40px; }
.mr50 { margin-left: 50px; }
.mr60 { margin-left: 60px; }
.mt5 { margin-top: 5px; }
.mt10 { margin-top: 10px; }
.mt15 { margin-top: 15px; }
.mt20 { margin-top: 20px; }
.mt30 { margin-top: 30px; }
.mt50 { margin-top: 50px; }
.mb10 { margin-bottom: 10px; }
.mb20 { margin-bottom: 20px; }
.mb30 { margin-bottom: 30px; }
.mb50 { margin-bottom: 50px; }
.pl5 { padding-left: 5px; }
.mr0 { margin-right: 0; }
.mr10 { margin-right: 10px; }
.mr25 { margin-right: 25px; }
.pt30 { padding-top: 30px; }
.pb30 { padding-bottom: 30px; }
.pl10 { padding-left: 10px; }

/*宽度*/
.w100 { width: 100px; }
.w110 { width: 110px; }
.w120 { width: 120px; }
.w520 { width: 520px; }
.w600 { width: 600px; }
.w630 { width: 630px; }
.w680 { width: 680px; }

/*字体大小*/
.fz14 { font-size: 14px; }
.fz16 { font-size: 16px; }
.fz18 { font-size: 18px; }
.fz20 { font-size: 20px; }
.fz22 { font-size: 22px; }
.fz30 { font-size: 30px; }

/*行高*/
.lh1 { line-height: 1em; }
.lh2 { line-height: 2em; }

/*文字颜色*/
.tips-txt { color: #666; }
.dark-txt { color: #333; }
.light-txt { color: #999; }
.ems-txt { color: #327db8; }
.ems-dark-txt { color: #004EA1; }
.warning-txt { color: #FFA500; }
.error-txt { color: #ad0c0c; }
.validate-txt { color: #ff0000; }
.validate-position { position: absolute; }
.validat-special { position: absolute; margin-left: 60px; margin-top: 11px; }
.validat-special2 { position: absolute; margin-left: 15px;}
.validate-wrap1 .validat-special { margin-left: 428px; margin-top: 10px; }
.validate-wrap2 .validat-special { margin-left: 241px; margin-top: 10px; }
.tips-txt:hover { color: #666; }
.dark-txt:hover { color: #333; }
.light-txt:hover { color: #999; }
.ems-txt:hover { color: #327db8; }
.ems-dark-txt:hover { color: #004EA1; }
.warning-txt:hover { color: #FFA500; }
.error-txt:hover { color: #ad0c0c; }
.validate-txt:hover { color: #ff0000; }

/*背景颜色*/
.bgcolor1 { background: #DAECFF; }
.bgcolor2 { background: #F7F7F7; }
.bgcolor3 { background: #F2F2F2; }
.tc { text-align: center; }
.tl { text-align: left; }
.tr { text-align: right; }
.tdu { text-decoration: underline; }

/*特殊公共样式*/
.ml37 { margin-left: 37px; }
.ml82 { margin-left: 82px; }
.mt25 { margin-top: 25px; }
.mt100 { margin-top: 100px; }
.minh14 { min-height: 14px; }
.minh60 { min-height: 60px; }
.minh64 { min-height: 64px; }
.minh214 { min-height: 214px; }
.w140 { width: 140px; }
.w315 { width: 315px; }
.w350 { width: 350px; }
.w360 { width: 360px; }
.w400 { width: 400px; }
.w580 { width: 580px; }
.w800 { width: 800px; }
.pl213 { padding-left: 213px; }
.ml-40 { margin-left: -40px; }

/*按钮样式*/
a.btn { line-height: inherit; }
.btn { height: auto; }
.btn { display: inline-block; vertical-align: middle; border: 0; font-size: 14px; cursor: pointer; padding: 6px 16px; font-family: "Microsoft YaHei", "Hiragino Sans GB", sans-serif; box-sizing: border-box; }
.btn.default { color: #666; background: #E8E8E8; }
.default.border { border: 1px solid #E8E8E8; }
.btn.alert { color: #fff; background: #9B2136; }
.btn.alert:hover { color: #fff; }
.btn.warning { color: #fff; background: #FEBA56; }
.btn.warning:hover { color: #fff; }
.btn.gray { color: #fff; background: #AFAFAF; }
.btn.gray:hover { color: #fff; background: #AFAFAF; }
.btn.large { font-size: 18px; padding: 10px 35px; /*width: 148px;*/ }
.btn.mid { font-size: 16px; padding: 8px 45px; }
.btn.fz14 { font-size: 14px; padding: 0 35px; line-height: 46px; height: 46px; }
.btn.w134 { width: 134px; font-size: 16px; padding: 6px 17px; }
.btn.w142 { width: 142px; }
.btn.w140 { width: 140px; font-size: 18px; padding: 0; height: 46px; line-height: 46px; text-align: center; border: 0; }
.btn.w180 { padding: 0; width: 180px; font-size: 18px; height: 40px; line-height: 40px; text-align: center; }
.btn.w240 { padding: 0; width: 240px; font-size: 18px; height: 40px; line-height: 40px; text-align: center; }
.btn.w315 { padding: 0; width: 315px; font-size: 18px; height: 46px; line-height: 46px; text-align: center; }
.btn.w400 { padding: 0; width: 400px; font-size: 18px; height: 46px; line-height: 46px; text-align: center; }
.default.border { font-size: 14px; border: 1px solid #E0E0E0; background: #F6F6F6; }
.btn.h46 { text-align: center; padding: 0 35px; height: 46px; line-height: 46px; }

/* end public */

/* ------------------------------  header顶部区域   ---------------------------  */ 
#header { width: 100%; height: 39px; border-bottom: 1px solid #e1e1e1; background-color: #fbfbfa; }
#header .slogan { font-size: 14px; line-height: 40px; color: #525252; float: left; }
#header .info { float: right; }
#header .info li { float: left; }
#header .info a { display: block; height: 39px; padding: 0 20px; border-right: 1px solid #e1e1e1; font: 14px/40px "Microsoft YaHei" ;}
#header .info .login-off a { background-color: #ffc73e; color: #fff;}
#header .info .help a { border-right: none; }
#header .info .weix { position: relative; }
#header .info .weix_hd { display: block; width: 36px; height: 17px; margin-top: 12px; background: url(../imgs/public/header.png) no-repeat; }
#header .info .weix_bd { position: absolute; top: 30px; left: -64px; z-index: 10; display: none;}
#header .info .weib { position: relative; }
#header .info .weib_hd { display: block; width: 36px; height: 15px; margin-top: 12px; background: url(../imgs/public/header.png) no-repeat 0 -17px; border-right: 1px solid #e1e1e1; }
#header .info .weib_bd { position: absolute; top: 30px; left: -64px; z-index: 10; display: none;}
#header .info .tel_wrap { padding-top: 10px; padding-left: 15px;}
#header .info .tel_ico { display: inline-block; width: 21px; height: 18px; background: url(../imgs/public/header.png) no-repeat 0 -32px;}
#header .info .tel { font: italic bolder 20px/1 Arial; color: #ffc73e;}

/* -------------  nav导航区域   ---------------------- */ 
#nav { height: 80px; width: 100%; background-color: #FFFFFF; padding-top: 10px;}
#nav .logo { float: left; }
#nav .logo a { display: block; width: 250px; height: 65px; background: url(../imgs/public/main_logo.png) no-repeat; text-indent: -9999px; overflow: hidden; }
#nav .nav_in { float: right; }
#nav .nav_in i { display: inline-block; width: 1px; height: 16px; background-color: #e1e1e1; margin: 28px 10px; float: left;}
#nav .nav_in li { float: left; position: relative;}
#nav .nav_in li a { display: inline-block; height: 70px; padding: 0 8px; font: 16px/70px "Microsoft YaHei"; color: #555555;}
#nav .nav_in li .active,#nav .nav_in li a:hover { color: #ffc73e; border-bottom: 2px solid #ffc73e;}
#nav .nav_in li em { display: inline-block; width: 27px; height: 15px; position: absolute; top: 8px; right: -10px;}
#nav .nav_in li em.nav_ico_new { background: url(../imgs/public/nav_type_ico.png) no-repeat 0 0;}
#nav .nav_in li em.nav_ico_hot { background: url(../imgs/public/nav_type_ico.png) no-repeat -50px 0;}

/* ----------------------------  footer底部区域   ----------------------   */
#footer { width: 100%; border-top: 6px solid #ffc73e; padding: 30px 0 40px;  background-color: #333333;}
		/*上*/
#footer .ft_item { float: left; width: 240px; height: 170px; padding-left: 50px; border-right: 1px solid #c4c4c4}
#footer .ft_kf { border: none; }
#footer .ft_item_tit { font: 18px/1 "microsoft yahei"; color: #cccccc; margin-bottom: 20px; }
#footer .ft_item li { font: 14px/30px "microsoft yahei"; color: #CCCCCC;}
#footer .ft_item a:hover { color: #ffc73e;}
#footer .ft_item .ac_tips { width: 76px; padding-top: 10px; position: relative; color: #CCCCCC; float: left; cursor: pointer;}
#footer .ft_item .ac_tips em { display: block; width: 62px; height: 62px; background: url(../imgs/public/footer.png); margin: 0 auto; }
#footer .ft_item .ac_tips p { text-align: center; line-height: 3; }
#footer .ft_item .ac_tips .tips_bd { width: 164px; height: 167px; position: absolute; top: -32px; left: 80px; z-index: 3; display: none;}

#footer .ft_item .wx_tips { margin-right: 30px; }
#footer .ft_item .wb_tips em { background: url(../imgs/public/footer.png) -63px 0;}
#footer .ft_item .wx_tips:hover { color: #ffc73e; }
#footer .ft_item .wx_tips:hover em { background-position: 0 -63px; }
#footer .ft_item .wb_tips:hover { color: #ffc73e; }
#footer .ft_item .wb_tips:hover em { background-position: -63px -63px; }

#footer .ft_item .ft_tel { margin-bottom: 20px;}
#footer .ft_item .ft_tel span { font: bold 22px/35px "microsoft yahei"; color: #c4c4c4; margin-left: 15px;}
#footer .ft_item .ft_tel i { display: inline-block; width: 35px; height: 35px; background: url(../imgs/public/footer.png) -190px -1px;}
#footer .ft_item .ft_qq span { font: 14px/35px "microsoft yahei"; color: #c4c4c4; margin-left: 15px;}
#footer .ft_item .ft_qq i { display: inline-block; width: 35px; height: 35px; background: url(../imgs/public/footer.png) -190px -39px;}

		/*link*/
#footer .ft_link { padding: 30px 20px; border-bottom: 1px solid #c4c4c4;}
#footer .ft_link_tit { width: 80px; color: #c4c4c4; line-height: 30px;}
#footer .ft_link_main { width: 1080px; }
#footer .ft_link_main a { margin-right: 4px; color: #c4c4c4; line-height: 30px;}
#footer .ft_link_main a:hover { color: #ffc73e;}

#footer .ft_about_link { height: 40px; line-height: 40px; color: #c4c4c4; text-align: center;}
#footer .ft_about_link a { padding: 0 6px; color: #c4c4c4;}
#footer .ft_about_link a:hover { color: #ffc73e;}
#footer .ft_copy { text-align: center; color: #c4c4c4; line-height: 20px; margin-bottom: 20px;}
#footer .risk_warning { text-align: center; color: #c4c4c4; line-height: 20px;}


/*---------------------- 侧边导航  -------------------*/
#fix_sidebar { width: 80px; height: 182px; padding-top: 48px; padding-left: 2px; position: fixed; bottom: 110px; left: 50%; margin-left: 610px; background: url(../imgs/public/fix_sidebar.png) no-repeat 0 0;}
#fix_sidebar li { width: 44px; height: 44px; border-radius: 2px; margin-bottom: 2px; background-color: #ffc73e;}
#fix_sidebar .licai { height: 39px; padding-top: 5px; font: 12px/16px "microsoft yahei"; text-align: center; }
#fix_sidebar .licai a { color: #FFFFFF; }
#fix_sidebar li a { display: block; width: 44px; height: 44px; position: relative; overflow: hidden;}
#fix_sidebar li a:hover { overflow: visible;}
#fix_sidebar li a i { position: absolute; width: 164px; height: 167px; background: url(../imgs/public/wx_cst_r.png); top: -50px; left: -170px;}
#fix_sidebar li a .kefu { height: 158px; background: url(../imgs/public/kf_cst_r.png);}
#fix_sidebar li .fix_tel { background: url(../imgs/public/fix_sidebar.png) right top; }
#fix_sidebar li .fix_code { background: url(../imgs/public/fix_sidebar.png) right -44px; }
#fix_sidebar li .fix_top { background: url(../imgs/public/fix_sidebar.png) right -88px; }


/*---------------------- 专题页底部折叠角标  -------------------*/
#subject_fixed_infor {position: fixed; bottom: 0; width: 100%; background-color: #ebc040; border: 1px solid #977a05;}
#subject_fixed_infor .fixed_top {width: 109px; height: 27px; position: absolute; top: -27px; left: 50%; margin-left: -55px; background: url(../imgs/public/subject_fixed_infor_top.png) no-repeat; font-size: 16px; line-height: 27px; text-align: center; color: #FFFFFF; cursor: pointer;}
/*open区域*/
#subject_fixed_infor .open {margin-top: 40px;}
#subject_fixed_infor .fixed_l {float: left; font: italic bold 40px/70px arial; color: #FFFFFF; background: url(../imgs/public/subject_fixed_infor_Biphone.png) no-repeat; text-indent: 1.8em; margin: 0 30px;}
#subject_fixed_infor .fixed_r {float: left;}
#subject_fixed_infor .fixed_r .input_box,#subject_fixed_infor .fixed_r .sub {float: left;	margin-right: 20px;}
#subject_fixed_infor .fixed_r .input_box input {width: 210px; height: 50px; padding: 0 8px; padding-left: 45px; font-family: "Microsoft YaHei"; font-size: 18px; line-height: 50px; background: #fff url(../imgs/public/subject_fixed_infor_name.png) no-repeat 5px center; color: #666;}
#subject_fixed_infor .fixed_r .input_box.iph input {background-image: url(../imgs/public/subject_fixed_infor_Siphone.png);}
#subject_fixed_infor .fixed_r .subl {display: block; width: 160px; height: 50px; background-color: #ff5824; border-radius: 8px; border-bottom: 2px solid #9d2e0c; font: bold 20px/50px "microsoft yahei"; text-align: center; color: #FFFFFF;}
#subject_fixed_infor .open p {font-size: 20px;line-height: 40px;color: #FFFFFF;float: left;}
#subject_fixed_infor .open .trig {width: 19px;height: 13px;background: url(../imgs/public/subject_fixed_infor_trig.png) no-repeat;position: absolute;top: 5px;left: 50%;margin-left: -10px;}
/*close区域*/
#subject_fixed_infor .close {width: 670px;height: 30px;margin: 0 auto;padding: 10px 0;}
#subject_fixed_infor .close .logo_text {float: left;font-size: 22px;line-height: 30px;background: url(../imgs/public/subject_fixed_infor_star.png) no-repeat left center;text-indent: 1em;border-right: 1px solid #977612;color: #ff5824;}
#subject_fixed_infor .close .logo_text em {display: inline-block;width: 17px;height: 17px;background: url(../imgs/public/subject_fixed_infor_star.png) no-repeat;}
#subject_fixed_infor .close .book_phone {float: left;font-size: 22px;font-weight: bold;line-height: 34px;padding-left: 50px;background: url(../imgs/public/subject_fixed_infor_Siphon.png) no-repeat 10px center;color: #ff5824;}


/*--------------------- 合格投资者弹窗  -------------------*/
#nice_moneyman { width: 100%; height: 100%; background: rgba(0,0,0,.5); position: fixed; top: 0; left: 0; z-index: 999999;}
.nice_moneyman_pad {width: 770px; height: 670px; padding: 15px; background: rgba(0,0,0,.5); position: absolute; top: 0; bottom: 0; left: 0; right: 0; margin: auto;}
.nice_moneyman_in { width: 770px; height: 670px;} 
#nice_moneyman .nice_title { width: 466px; height: 670px; background-color: #FFFFFF;}
#nice_moneyman .nice_title .head { height: 83px; border-bottom: 1px solid #636363;}
#nice_moneyman .nice_title .head h2 {font:24px/84px "microsoft yahei"; color: #ffbb17;}
#nice_moneyman .nice_title .main { padding: 30px 16px;}
#nice_moneyman .nice_title .main p { font: 14px/30px "microsoft yahei"; color: #282828;}
#nice_moneyman .nice_title .iknow { width: 180px; height: 38px; line-height: 38px; margin: 0 auto;}
#nice_moneyman .nice_title .iknow #remember { display: inline-block; vertical-align: middle; margin-right: 5px; cursor: pointer;}
#nice_moneyman .nice_title .txt { font-size: 14px; color: #282828; vertical-align: middle; cursor: pointer;}
#nice_moneyman .nice_register { width: 304px; height: 642px; padding-top: 28px; background: #ffba14 url(../imgs/public/nice_moneyman_bg.png);}
#nice_moneyman .nice_register .zc { width: 272px; height: 22px; background-image: url(../imgs/public/nice_moneyman_register.png); margin: 30px auto;}
#nice_moneyman .nice_register .form .tel,#nice_moneyman .nice_register .form .password { width: 260px; height: 40px; border: 1px solid #696969; margin: 0 auto;}
#nice_moneyman .nice_register .form .tel input,#nice_moneyman .nice_register .form .password input {width: 220px; height: 40px; border:none; font: 14px/40px "microsoft yahei"; color: #626262; padding: 0 20px;}
#nice_moneyman .nice_register .form .code { width: 262px; height: 42px; margin: 0 auto;}
#nice_moneyman .nice_register .form .code .note { width: 84px; height: 40px; border: 1px solid #696969; font: 14px/40px "microsoft yahei"; color: #626262; padding: 0 20px;}
#nice_moneyman .nice_register .form .code .code_in { width: 118px; height: 40px; background-color: #FFFFFF; border: 1px solid #696969; font: 14px/40px "microsoft yahei"; color: #ffba14; text-align: center; cursor: pointer;}
#nice_moneyman .nice_register .form .add { font:14px/44px "microsoft yahei"; color: #FFFFFF; text-align: center;}
#nice_moneyman .nice_register .form .add a { color: #ff4200; font-weight: 600; text-decoration: underline;}
#nice_moneyman .nice_register .form .sbm { display: block; width: 210px; height: 34px; margin: 0 auto; border: none; border-radius: 4px; background-color: #ff4200; font:bold 18px/34px "microsoft yahei"; color: #FFFFFF; text-align: center; cursor: pointer; vertical-align: middle;}
#nice_moneyman .nice_register .pic { width: 124px; height: 200px; margin: 30px auto 0;}
#nice_moneyman .nice_register .pic .img { width: 124px; height: 124px; background-image: url(../imgs/public/nice_moneyman_code.png);}
#nice_moneyman .nice_register .pic p { font:14px/2 "microsoft yahei"; color: #FFFFFF; text-align: center;}
/*提示错误信息*/
#nice_moneyman .nice_register .form .tip { height: 26px; width: 262px; margin: 0 auto;}
#nice_moneyman .nice_register .form .tip span { font: 14px/26px "microsoft yahei"; color: #FF0000;}


/*------------------------------------ 面包屑导航  ----------------------------------*/
#breadcrumb { width: 100%; height: 40px; line-height: 40px; background-color: #fbfbfa; color: #323232;}
#breadcrumb .sep { font-family: arial; margin: 0 4px;}
#breadcrumb .txt { color: #ffb501;}
#breadcrumb .path_item { color: #323232;}
#breadcrumb .path_item:hover { color: #ffb501;}



/* 公共子导航  */
.idx_subnav .title { height: 30px; width: 100%; border-bottom: 2px solid #e1e1e1; padding-top: 25px; }
.idx_subnav .title h2 { display: inline; padding: 0 10px 6px; border-bottom: 2px solid #ffb500; font: 20px/1 "microsoft yahei"; color: #ffb500; }
.idx_subnav .title a { color: #ffb500; }
.idx_subnav .title a:hover { text-decoration: underline;}


/*手机端部分，小于 980*/
@media (max-width: 980px) {
	#header,#footer,.banner,.idx_main,.idx_manager,.about_explain,.about_share,.about_culture,.about_teams,.about_teamColor,.about_tel {min-width: 1200px;}
	.about_office {display: none;}
}


