@charset "utf-8";

/*===================  首页   ==================*/

/* 首页banner区域 */
.focusBox { position: relative; width:100%; min-width: 1200px; height: 460px; overflow: hidden; }
.focusBox .pic { width: 100%; }
.focusBox .pic a {display: block; height: 460px;}
.focusBox .hd { width:100%;  position:absolute; z-index:999999; bottom:0; left:0; height:40px; line-height:40px; text-align:center;}
.focusBox .hd li{cursor:pointer; display:inline-block; *display:inline; zoom:1; width:10px; height:10px; border: 2px solid #fff; border-radius: 50%; margin:4px; overflow:hidden; z-index:9999999; }
.focusBox .hd .on{ width: 14px; height: 14px; background-color: #FFFFFF; border: none;}

/* 首页banner区域下面滚动导航区域 */
.idx_scroll_ad { background-color: #fff;}
.idx_scroll_ad .inner{ height: 59px; border-bottom: 1px solid #E1E1E1; }
.idx_scroll_ad .scroll { width: 370px; }
.idx_scroll_ad .scroll span { display: block; margin-left: 30px; }
.idx_scroll_ad .scroll_in { height: 60px; width: 250px; overflow: hidden; position: relative; }
.idx_scroll_ad .scroll ul { margin-right: 30px;  position: absolute; top: 0; left: 0;}
.idx_scroll_ad .scroll li { width: 250px; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; }
.idx_scroll_ad .scroll li a { font: 14px/60px "microsoft yahei"; color: #323232; }
.idx_scroll_ad .scroll li a:hover { color: #ffca49; }
.idx_scroll_ad .scroll i { width: 1px; height: 16px; background-color: #e1e1e1; margin-top: 22px; }

.idx_scroll_ad .scroll1 span { width: 50px; height: 28px; background: url(../imgs/index/idx_scroll_ad.png) no-repeat 0 0; margin-top: 16px;}
.idx_scroll_ad .scroll2 span { width: 45px; height: 39px; background: url(../imgs/index/idx_scroll_ad.png) no-repeat 0 -28px; margin-top: 10px;}
.idx_scroll_ad .scroll3 span { width: 118px; height: 23px; background: url(../imgs/index/idx_scroll_ad.png) no-repeat 0 -67px; margin-top: 20px;}
.idx_scroll_ad .scroll3 { width: 400px; }

/* 首页投研精选 */
.idx_super { background-color: #fff;}
.idx_super .content { height: 150px; padding-top: 20px; }
.idx_super .content li { position: relative; width: 230px; height: 134px; margin-right: 12px; float: left; 
-webkit-transition: all .5s ;
   -moz-transition: all .5s ;
    -ms-transition: all .5s ;
     -o-transition: all .5s ;
        transition: all .5s }
.idx_super .content li:hover {
	-webkit-transform: scale(.95);
	   -moz-transform: scale(.95);
	    -ms-transform: scale(.95);
	     -o-transform: scale(.95);
	        transform: scale(.95);
}
.idx_super .content .last { margin: 0; }
.idx_super .content li .shadow { width: 190px; height: 48px; padding: 6px 20px 0; background: rgba(0,0,0,.6); position: absolute; bottom: 0; left: 0; overflow: hidden;}
.idx_super .content li .shadow .txt { font:14px/1.6 "microsoft yahei"; color: #fff;}

/* 首页产品专区 ~公共~ */
.idx_main { width: 100%; padding-bottom: 50px; background-color: #fbfbfb; /*box-shadow: 0 10px 40px rgba(0,0,0,.1) inset;*/}
/*按钮*/
.idx_main .btn_skip { display: block; width: 140px; height: 40px; border-radius: 2px; font: 18px/40px "microsoft yahei"; color: #FFFFFF; text-align: center; margin: 30px auto; }
.idx_main .btn_bespeak { border-bottom: 2px solid #b08722; background-color: #ffc73e;}
.idx_main .btn_load { border-bottom: 2px solid #a88c48; background-color: #d8b766;}
.idx_main .btn_end { border-bottom: 2px solid #9c9c9c; background-color: #c8c8c8;}
.idx_main .btn_bespeak:hover { background-color: #ff623e; border-color: #b63b1f;}
.idx_main .type { width: 78px; height: 37px; position: absolute; top: -3px; right: 0;}/*角标*/

.idx_main .container { margin-top: 30px; }
.idx_main .container .head { width: 220px; height: 410px; background: #f16e66 url(../imgs/index/main_privately.png) no-repeat bottom center; box-shadow: 4px 0 8px rgba(0,0,0,.4);}
.idx_main .container .head h3 { font: 28px/3 "microsoft yahei"; color: #FFFFFF;}
.idx_main .container .head p { font: 16px/2 "microsoft yahei"; color: #FFFFFF;}
.idx_main .container .head a { display: block; font: 16px/2 "microsoft yahei"; color: #FFFFFF; margin-top: 150px; }
.idx_main .container .head a:hover { text-decoration: underline; }
.idx_main .container .head .angle_t { width: 21px; height: 14px; background: url(../imgs/index/idx_main.png) no-repeat top left; top: 0; right: -21px;}
.idx_main .container .head .angle_b { width: 21px; height: 14px; background: url(../imgs/index/idx_main.png) no-repeat 0 -14px; bottom: 0; right: -21px;}
.idx_main .container2 .head { background: #ffc73e url(../imgs/index/main_sun.png) no-repeat bottom center; }
.idx_main .container2 .head .angle_t { background: url(../imgs/index/idx_main.png) no-repeat -21px 0;}
.idx_main .container2 .head .angle_b { background: url(../imgs/index/idx_main.png) no-repeat -21px -14px;}
.idx_main .container3 .head { background: #f7947a url(../imgs/index/main_internet.png) no-repeat bottom center; }
.idx_main .container3 .head .angle_t { background: url(../imgs/index/idx_main.png) no-repeat -42px 0;}
.idx_main .container3 .head .angle_b { background: url(../imgs/index/idx_main.png) no-repeat -42px -14px;}
.idx_main .container4 .head { background: #1c8fbc url(../imgs/index/main_overseas.png) no-repeat bottom center; }
.idx_main .container4 .head .angle_t { background: url(../imgs/index/idx_main.png) no-repeat -63px 0;}
.idx_main .container4 .head .angle_b { background: url(../imgs/index/idx_main.png) no-repeat -63px -14px;}
.idx_main .container5 .head { background: #1c75bc url(../imgs/index/main_trust.png) no-repeat bottom center; }
.idx_main .container5 .head .angle_t { background: url(../imgs/index/idx_main.png) no-repeat -84px 0;}
.idx_main .container5 .head .angle_b { background: url(../imgs/index/idx_main.png) no-repeat -84px -14px;}

/* 首页产品专区 ~内部公共~ */
.idx_main .container .main { width: 980px; height: 382px; background-color: #FFFFFF; margin-top: 14px;}
.idx_main .container .main_first .tit:hover { color: #ff623e;}
.idx_main .container .main_first .item a:hover { color: #ff623e;}
.idx_main .container .main_first { width: 669px; height: 382px; border-right: 1px solid #e1e1e1;}
.idx_main .container .main_first .tit {font: 24px/4 "microsoft yahei"; color: #3b3b3b; padding-left: 40px;}
.idx_main .container .main_first .frame { width: 627px; height: 176px; margin: 6px auto 0;}
.idx_main .container .main_first .item { width: 179px; height: 176px; margin: 0 15px; background: url(../imgs/index/idx_main_frame.png) no-repeat;}
.idx_main .container .main_first .item .attr_val { height: 40px; padding-top: 60px; font: 24px/40px "microsoft yahei"; text-align: center; color: #3b3b3b; text-overflow:ellipsis; overflow:hidden; white-space:nowrap;}
.idx_main .container .main_first .item .attr_val .small { font-size: 20px;}
.idx_main .container .main_first .item .attr_val_first,.idx_main .container .main_first .item a { color: #ff8b3e;}
.idx_main .container .main_first .item .attr_name { font: 16px/2.5 "microsoft yahei"; text-align: center; color: #bbbbbb;}

.idx_main .container .main_second {width: 310px; height: 382px;}
.idx_main .container .main_second_in { position: relative;}
.idx_main .container .main_second_in .tit:hover { color: #ff623e;}
.idx_main .container .main_second_in li a:hover { color: #ff623e;}
.idx_main .container .main_second_in { padding: 30px 30px 0 20px; width: 260px; height: 160px; border-bottom: 1px solid #e1e1e1;}
.idx_main .container .borderno{ border: none;}
.idx_main .container .main_second_in .tit { display: inline-block; width: 100%; font: 18px/2 "microsoft yahei"; color: #3b3b3b; text-overflow:ellipsis; overflow:hidden; white-space:nowrap;}
.idx_main .container .main_second_in li { height: 38px; line-height: 38px;}
.idx_main .container .main_second_in li .titl { font: 14px/38px "microsoft yahei"; color: #bbbbbb; margin-right: 14px;}
.idx_main .container .main_second_in li .con { font: 16px/38px "microsoft yahei"; color: #3b3b3b;}
.idx_main .container .main_second_in li .color { color: #ff8b3e;}
/*active*/
.idx_main .container .main_second_in .block { transition: all .25s ease-in-out;/*cursor: not-allowed;*/}
.idx_main .container .main_second_in .block:hover { -webkit-transform: translateX(10px); transform: translateX(10px);}



/* 首页理财经理专区 */
.idx_manager { width: 100%; height: 530px; background: url(../imgs/index/main_manager_bg.jpg) no-repeat top center;}
.mg_title { width: 100%; height: 100px; background: url(../imgs/index/main_manager_title.png) no-repeat center center; }
.mg_title a { float: right; font: 14px/100px "microsoft yahei"; color: #FFFFFF;}
.mg_title a:hover { text-decoration: underline; }
.mg_main { width: 1200px; height: 360px; margin-top: 30px;}
.mg_main_in { width: 1120px; height: 360px; margin: 0 auto; overflow: hidden;/*后加的*/position: relative;}
.mg_main_in ul { width: 3000px;/*后加的*/position: absolute; top: 0; left: 0;}
.mg_team { width: 240px; height: 350px; margin: 0 20px; padding-top: 10px; box-shadow: 0 4px 10px rgba(255,255,255,0.2); background: rgba(255,88,88,.65); }
.mg_team .img { width: 112px; height: 112px; border-radius: 50%; background: url(../imgs/index/main_manager_1.jpg) no-repeat top center; background-size: cover; margin: 0 auto 6px; }
.mg_team p { margin-left: 60px; color: #fbfbfa; line-height: 1.5; }
.mg_team .vip li {display: block; width: 11px; height: 10px; margin: 6px 2px 0 2px; background: url(../imgs/index/idx_main.png) -26px -28px; float: left; }
.mg_team .bottom { height: 80px; padding: 10px 20px; margin-top: 10px; border-top: 1px solid #ffbdbb; } 
.mg_team .bottom p {
	margin: 0;
	line-height: 2;
	display: -webkit-box !important;
	overflow: hidden;

	text-overflow: ellipsis;
	word-break: break-all;

	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
}
.mg_team .btn_group { padding: 0 10px; }
.mg_team .btn_group .btn2 { padding: 6px 24px; background-color: #ffcc00; border-radius: 4px; color: #FFFFFF; }
.mg_team .btn_group .btn2:hover { background-color: #fbbc14;}
.mg_main .change { width: 38px; height: 38px; border-radius: 50%; background: rgba(255,255,255,.2); position: absolute; top: 50%; margin-top: -19px; cursor: pointer;}
.mg_main .change:hover { background: rgba(255,255,255,.4); }
.mg_main .change i { display: block; width: 11px; height: 21px; margin: 8px auto;}
.mg_prev { left: 0;}
.mg_prev i { background: url(../imgs/index/idx_main.png) 0 -28px; }
.mg_next { right: 0; }
.mg_next i { background: url(../imgs/index/idx_main.png) -11px -28px; }


/*首页新闻区域*/
.idx_news .news_team {width: 390px; margin-right: 10px;}
.idx_news .news_team .title { width: 374px; }
.idx_news .news_main {border-right: 1px dashed #e1e1e1; padding-right: 16px; padding-top: 30px; }
.idx_news .last { border: none; }
.idx_news .news_main li { height: 30px; line-height: 30px; }
.idx_news .news_main li i { display: block; width: 4px; height: 4px; margin: 13px 8px 8px; border-radius: 50%; background-color: #fbbc14;}
.idx_news .news_main li em { width: 250px; height: 30px; overflow: hidden;}
.idx_news .news_main li a { line-height: 30px; font-size: 12px; color: #323232;}
.idx_news .news_main li a:hover { color: #ffc73e; }
.idx_news .news_main li span { font-size: 12px; color: #9f9f9f;}

/*首页合作伙伴区域*/
.idx_partner .partner_in { margin: 10px 0 50px 0; width: 1270px;}
.idx_partner li { float: left; width: 184px; height: 63px; margin: 20px 70px 0 0;}
.idx_partner li a { display: block; width: 184px; height: 63px; border: 1px solid #E1E1E1; transition: all .2s; overflow: hidden;}
.idx_partner li a:hover { margin-top: -2px; box-shadow: 0 5px 15px rgba(0,0,0,.1);}


/*=============================  truse(信托)    =====================================*/
/*S_public*/
.truse_title { height: 30px; width: 100%; padding-top: 30px; border-bottom: 2px solid #e1e1e1;}
.truse_title h2 { display: inline; font: 20px/20px "microsoft yahei"; color: #ffb500; padding: 0 10px 7px; border-bottom: 2px solid #ffb500;}
/*E_public*/
.truse_banner { height: 360px; width: 100%; background: url(../imgs/product/truse_banner.jpg) no-repeat center top;}
.truse_light { width: 100%; height: 100px; background-color: #fff; border-bottom: 1px solid #dadada;}
.truse_light .page { width: 210px; margin-right: 100px;}
.truse_light .page img { padding: 12px 0 0 20px;}
.truse_light .page span { font: 16px/100px "microsoft yahei"; color: #323232; padding-left: 10px;}
/*truse_hot*/
.truse_hot .container { width: 1224px; margin: 20px auto;}
.truse_hot .container li { float: left; width: 280px; height: 160px; margin-right: 26px; overflow: hidden; 
-webkit-transition: all .5s ;
   -moz-transition: all .5s ;
    -ms-transition: all .5s ;
     -o-transition: all .5s ;
        transition: all .5s }
.truse_hot .container li:hover {
	-webkit-transform: scale(.95);
	   -moz-transform: scale(.95);
	    -ms-transform: scale(.95);
	     -o-transform: scale(.95);
	        transform: scale(.95);
}
/*优质私募基金产品*/
.truse_fine .product table { width: 100%; background-color: #fff; margin: 20px auto;}
.truse_fine .product table th { height: 60px; font:16px/60px "microsoft yahei"; color: #999999; text-align: center;}
.truse_fine .product table thead tr { border-bottom: 1px dashed #e1e1e1;}
.truse_fine .product table tbody tr:nth-of-type(even) { background-color: #fffcf5;}
.truse_fine .product table td { height: 60px; font-size: 14px; color: #323232; text-align: center;}
.truse_fine .product table td span { display: inline-block; width: 150px; text-overflow:ellipsis; overflow:hidden; white-space:nowrap;}
.truse_fine .product table td.product_name { color: #ff9322;}
.truse_fine .product table td.link a { display: inline-block; padding: 8px 18px; background-color: #ffc73e; color: #fff; line-height: 1; border-radius: 2px;}
.truse_fine .product table td.link a:hover { background-color: #ff9322;}
/*信托看点*/
.truse_new_watch { width: 840px; height: 423px;}
.truse_new_good { width: 340px; height: 423px;}
.truse_new_watch_main,.truse_new_good_main { height: 341px; background-color: #fff; margin: 20px auto;}
.truse_new_watch_main .page { width: 820px; height: 170px; background-color: #fff; margin: 0 auto; border-bottom: 1px dashed #aeaeae;}
.truse_new_watch_main .page .pic { float: left; width: 100px; height: 146px; margin: 12px 20px 0 0;}
.truse_new_watch_main .page .info { float: left; width: 690px; }
.truse_new_watch_main .page .info .tit { font:20px/2.5 "microsoft yahei"; color: #323232;}
.truse_new_watch_main .page .info .main { font:14px/2 "microsoft yahei"; color: #aeaeae;}
.truse_new_watch_main .page .info .main a { color: #ffb500;}
.truse_new_watch_main .page .info .main a:hover { color: #ff9322;}
.truse_new_good_main .page { width: 310px; height: 68px; background-color: #fff; border-bottom: 1px dashed #dadada; margin: 0 auto;}
.truse_new_good_main .page .pic { float: left; width: 42px; height: 42px; margin: 14px 16px 0 0;}
.truse_new_good_main .page .main { float: left;}
.truse_new_good_main .page .main p { font:16px/68px "microsoft yahei"; color: #6c6c6c;}
.truse_new_good_main .page .main span { color: #b4b4b4;}
.truse_new_good_main .page .pic1 { background: url(../imgs/product/truse_new_good.png) no-repeat;}
.truse_new_good_main .page .pic2 { background: url(../imgs/product/truse_new_good.png) no-repeat 0 -69px;}
.truse_new_good_main .page .pic3 { background: url(../imgs/product/truse_new_good.png) no-repeat 0 -139px;}
.truse_new_good_main .page .pic4 { background: url(../imgs/product/truse_new_good.png) no-repeat 0 -208px;}
.truse_new_good_main .page .pic5 { background: url(../imgs/product/truse_new_good.png) no-repeat 0 -277px;}
/*---私募页面不同的---*/
.fund_new_good_main {height: 341px; background-color: #fff; margin: 20px auto;}
.fund_new_good_main .page .item { padding-top: 8px;}
.fund_new_good_main .page i { display: inline-block; width: 7px; height: 7px; border-radius: 50%; margin: 0 10px 0 10px;}
.fund_new_good_main .page i.befor {background: #578dfb;}
.fund_new_good_main .page i.center {background: #ffcd54;}
.fund_new_good_main .page i.after {background: #ffac7a;}
.fund_new_good_main .page li { font:16px/2 "microsoft yahei"; color: #7b7b7b;}
.fund_new_good_main .line { width: 250px; border-bottom: 1px dashed #aeaeae; margin-left: 80px; margin-bottom: 5px;}

/*信托购买*/
.truse_buy { margin-bottom: 50px;}
.truse_buy_main { width: 100%; height: 255px; padding-top: 30px; background-color: #fff; margin: 20px auto 0;}
.truse_buy_main .page { width: 228px;}
.truse_buy_main .page img { display: block; margin: 0 auto 20px;}
.truse_buy_main .page p { font: 16px/1.5 "microsoft yahei"; color: #adadad; text-align: center;}

/*=============================  truse(信托内页)    =====================================*/
.truse_pro_line { height: 1px; width: 100%; background-color: #e1e1e1;}
.truse_pro_info { margin: 20px auto;}
.truse_pro_info_in { width: 100%; border-top: 2px solid #ffc73e; background-color: #fff;}
.truse_pro_info_in .info_main .head { width: 818px; height: 75px; border: 1px solid #e1e1e1; border-width: 0 1px;}
.truse_pro_info_in .info_main .head h2 { font: 26px/75px "microsoft yahei"; color: #ffc73e; margin-left: 20px;}
.truse_pro_info_in .info_main .head .type { width: 91px; height: 28px; margin: 23px 20px 0; overflow: hidden;}
.truse_pro_info_in .info_main .head .subject { display: inline-block; font-size: 16px; padding: 4px 6px; color: #ffc73e; border: 1px solid #ffc73e; margin-top: 21px;}
.truse_pro_info_in .info_main .info { width: 818px; height: 150px; padding-top: 30px; border: 1px solid #e1e1e1;}
.truse_pro_info_in .info_main .info .page { float: left; width: 203px; height: 125px; border-right:  1px solid #e1e1e1; text-align: center;}
.truse_pro_info_in .info_main .info .page h3 { font:16px/4 "microsoft yahei"; color: #999999; text-align: center;}
.truse_pro_info_in .info_main .info .page { font: 20px/50px "microsoft yahei"; color: #868585;}
.truse_pro_info_in .info_main .info .page p { font:16px/50px "microsoft yahei"; color: #868585; text-align: center;}
.truse_pro_info_in .info_main .info .page .num { font-size: 30px; color: #ffc73e;}
.truse_pro_info_in .info_address .head { width: 379px; height: 75px; border-right: 1px solid #e1e1e1;}
.truse_pro_info_in .info_address .head h3 { font:20px/75px "microsoft yahei"; color: #ffc73e; text-align: center;}
.truse_pro_info_in .info_address .form { width: 379px; height: 180px; border: 1px solid #e1e1e1; border-left: 0;}
.truse_pro_info_in .info_address .form .input_group { width: 250px; margin: 40px auto 30px;}
.truse_pro_info_in .info_address .form .input_group .form_control { width: 170px; height: 20px; padding: 6px 10px; border-radius: 4px 0 0 4px; border: 1px solid #ccc; font-family: "microsoft yahei"; color: #555555;}
/*.truse_pro_info_in .info_address .form .input_group .form_control:focus {border-color: #66afe9; box-shadow:0 0 8px rgba(102,175,233,0,6); outline: 0 none;}*/
.truse_pro_info_in .info_address .form .input_group span {padding: 6px 12px; height: 20px; border-radius: 0 4px 4px 0; border: 1px solid #ccc; border-left: none 0; background: #eee; font-size: 14px; color: #555555;}
.truse_pro_info_in .info_address .form .sublime input { display: block; width: 222px; height: 36px; border: 0; font:16px/36px "microsoft yahei"; color: #fff; text-align: center; margin: 15px auto 0; background-color: #ffc73e; cursor: pointer;}
.truse_pro_info_in .info_address .form .sublime input:hover { background-color: #ff823e;}
/*信托内页_主要区域*/
.truse_pro_main { margin: 20px 0 100px;}
.truse_pro_main .main_in { width: 810px;}
.truse_pro_main .main_in .truse_pro_tab_hd { height: 50px;}
.truse_pro_main .main_in .truse_pro_tab_hd .tab_hd_item { width: 150px; height: 49px; background-color: #fbfbfb; border: 1px solid #e1e1e1; margin-bottom: -1px; border-right: 0; font:20px/50px "microsoft yahei"; color: #868585; text-align: center; cursor: pointer;}
.truse_pro_main .main_in .truse_pro_tab_hd .tab_hd_item_last { border-right: 1px solid #e1e1e1;}
.truse_pro_main .main_in .truse_pro_tab_hd .active { border-top: 2px solid #ffc73e; color: #ffc73e; border-bottom-color: #fff; background-color: #fff;}
.truse_pro_main .main_in .truse_pro_tab_bd { width: 808px; height: 618px; border: 1px solid #e1e1e1; background-color: #fff;}
.truse_pro_main .main_in .truse_pro_tab_bd .tab_bd_item { padding: 50px; display: none;}
.truse_pro_main .main_in .truse_pro_tab_bd .active { display: block;}
.truse_pro_main .truse_pro_news_page { width: 370px;}
.truse_pro_main .truse_pro_news_page .news_head { padding-top: 10px; height: 40px; }
.truse_pro_main .truse_pro_news_page .news_head h2 { font:20px/40px "microsoft yahei"; color: #ffc73e;}
.truse_pro_main .truse_pro_news_page .news_head a { font:16px/40px "microsoft yahei"; color: #ffc73e;}
.truse_pro_main .truse_pro_news_page .news_box { width: 368px; height: 282px; border: 1px solid #e1e1e1; border-top: 2px solid #ffc73e; background-color: #fff;}
.truse_pro_main .truse_pro_news_page .news_box_item { height: 45px;}
.truse_pro_main .truse_pro_news_page .news_box_item i { margin: 20px 14px 0; width: 6px; height: 6px; border-radius: 50%; background-color: #ccc;}
.truse_pro_main .truse_pro_news_page .news_box_item i.yellow { background-color: #ffc73e;}
.truse_pro_main .truse_pro_news_page .news_box_item i.orange { background-color: #ff823e;}
.truse_pro_main .truse_pro_news_page .news_box_item em { width: 310px; height: 45px; overflow: hidden;}
.truse_pro_main .truse_pro_news_page .news_box_item a { font:14px/45px "microsoft yahei"; color: #323232;}
.truse_pro_main .truse_pro_news_page .news_box_item a:hover { color: #ff823e;}

/*=============================  insurance(互联网保险)    =====================================*/
.insur_banner { width: 100%; height: 360px; background: url(../imgs/product/insur_banner.jpg) no-repeat center;}
.insur_main { width: 1200px; margin: 0 auto; margin-bottom: 60px; padding-top: 20px; background-color: #fff;}
.insur_main .insur_item { width: 1230px; height: 290px; margin-bottom: 40px;}
.insur_main .insur_head { width: 500px; height: 290px; margin: 0 10px;}
.insur_main .insur_head .tit { width: 185px; height: 250px; padding-top: 40px; background-color: #ed154d; position: relative;}
.insur_main .insur_head .tit h3 { font:40px/1.4 "microsoft yahei"; color: #ffffff; text-align: center;}
.insur_main .insur_head .tit a { display: inline-block; width: 68px; height: 26px; border: 1px solid #fff; font:14px/26px "microsoft yahei"; text-align: center; color: #fff; position: absolute; bottom: 20px; left: 50%; margin-left: -35px;}
.insur_main .insur_head .tit a:hover { background: rgba(0,0,0,.2);}
.insur_main .insur_head .pic { width: 313px; height: 290px; position: relative;}
.insur_main .insur_head .pic .shade { box-sizing: border-box; width: 100%; height: 100%; padding-top: 46px; position: absolute; top: 0; left: 0; background: rgba(0,0,0,.45);}
.insur_main .insur_head .pic .shade h4 { font:26px/2.5 "microsoft yahei"; color: #ffffff; text-align: center; color: #fff;}
.insur_main .insur_info1 .item { width: 196px; height: 278px; padding: 10px 10px 0; border: 1px solid #e1e1e1; margin: 0 14px 0 0;}
.insur_main .insur_info1 .item h3 { height: 60px; font:16px/1.6 "microsoft yahei"; color: #6e6e6e;}
.insur_main .insur_info1 .item p { font:14px/40px "microsoft yahei"; color: #323232;}
.insur_main .insur_info1 .item p span { font:30px/40px "microsoft yahei"; color: #323232;}
.insur_main .insur_info1 .item a { display: inline-block; width: 70px; height: 24px; margin-top: 20px; border-radius: 4px; background-color: #ed154d; font:14px/24px "microsoft yahei"; color: #fff; text-align: center;}
.insur_main .insur_info2 { width: 710px; height: 300px;}
.insur_main .insur_info2 .item { width: 315px; height: 128px; padding: 10px 10px 0; border: 1px solid #e1e1e1; margin: 0 10px 10px 0;}
.insur_main .insur_info2 .item h3 { height: 40px; max-width: 300px; font:16px/1.6 "microsoft yahei"; color: #6e6e6e; text-overflow:ellipsis; overflow:hidden; white-space:nowrap;}
.insur_main .insur_info2 .item p { font:14px/40px "microsoft yahei"; color: #323232;}
.insur_main .insur_info2 .item p span { font:30px/40px "microsoft yahei"; color: #323232;}
.insur_main .insur_info2 .item a { display: inline-block; width: 70px; height: 24px; margin-top: 8px; border-radius: 4px; background-color: #ed154d; font:14px/24px "microsoft yahei"; color: #fff; text-align: center;}
/*private各私有的*/
.insur_main .insur_item1 .insur_head .pic { background: url(../imgs/product/insur_sou_head.jpg) no-repeat;}
.insur_main .insur_item1 .item1 { background: #f9f9f9 url(../imgs/product/insur_sou_item1.png) no-repeat center bottom;}
.insur_main .insur_item1 .item2 { background: #f9f9f9 url(../imgs/product/insur_sou_item2.png) no-repeat center bottom;}
.insur_main .insur_item1 .item3 { background: #f9f9f9 url(../imgs/product/insur_sou_item3.png) no-repeat center bottom;}
.insur_main .insur_item1 .item p span { color: #ed154d;}
.insur_main .insur_item2 .insur_head .tit { background-color: #ed8a15;}
.insur_main .insur_item2 .insur_head .pic { background: url(../imgs/product/insur_zhong_head.jpg) no-repeat;}
.insur_main .insur_item2 .item1 { background: #f9f9f9 url(../imgs/product/insur_zhong_item1.png) no-repeat center bottom;}
.insur_main .insur_item2 .item2 { background: #f9f9f9 url(../imgs/product/insur_zhong_item2.png) no-repeat center bottom;}
.insur_main .insur_item2 .item3 { background: #f9f9f9 url(../imgs/product/insur_zhong_item3.png) no-repeat center bottom;}
.insur_main .insur_item2 .item4 { background: #f9f9f9 url(../imgs/product/insur_zhong_item4.png) no-repeat center bottom;}
.insur_main .insur_item2 .item p span { color: #ed8a15;}
.insur_main .insur_item2 .item a {background-color: #ed8a15;}
.insur_main .insur_item3 .insur_head .tit { background-color: #466eb8;}
.insur_main .insur_item3 .insur_head .pic { background: url(../imgs/product/insur_yi_head.jpg) no-repeat;}
.insur_main .insur_item3 .item1 { background: #f9f9f9 url(../imgs/product/insur_yi_item1.png) no-repeat center bottom;}
.insur_main .insur_item3 .item2 { background: #f9f9f9 url(../imgs/product/insur_yi_item2.png) no-repeat center bottom;}
.insur_main .insur_item3 .item3 { background: #f9f9f9 url(../imgs/product/insur_yi_item3.png) no-repeat center bottom;}
.insur_main .insur_item3 .item p span { color: #466eb8;}
.insur_main .insur_item3 .item a {background-color: #466eb8;}
.insur_main .insur_item4 .insur_head .tit { background-color: #2a8f90;}
.insur_main .insur_item4 .insur_head .pic { background: url(../imgs/product/insur_yiwai_head.jpg) no-repeat;}
.insur_main .insur_item4 .item1 { background: #f9f9f9 url(../imgs/product/insur_yiwai_item1.png) no-repeat center bottom;}
.insur_main .insur_item4 .item2 { background: #f9f9f9 url(../imgs/product/insur_yiwai_item2.png) no-repeat center bottom;}
.insur_main .insur_item4 .item3 { background: #f9f9f9 url(../imgs/product/insur_yiwai_item3.png) no-repeat center bottom;}
.insur_main .insur_item4 .item4 { background: #f9f9f9 url(../imgs/product/insur_yiwai_item4.png) no-repeat center bottom;}
.insur_main .insur_item4 .item p span { color: #2a8f90;}
.insur_main .insur_item4 .item a {background-color: #2a8f90;}
.insur_main .insur_item5 .insur_head .tit { background-color: #ffc320;}
.insur_main .insur_item5 .insur_head .pic { background: url(../imgs/product/insur_nian_head.jpg) no-repeat;}
.insur_main .insur_item5 .item1 { background: #f9f9f9 url(../imgs/product/insur_nian_item1.png) no-repeat center bottom;}
.insur_main .insur_item5 .item2 { background: #f9f9f9 url(../imgs/product/insur_nian_item2.png) no-repeat center bottom;}
.insur_main .insur_item5 .item3 { background: #f9f9f9 url(../imgs/product/insur_nian_item3.png) no-repeat center bottom;}
.insur_main .insur_item5 .item p span { color: #ffc320;}
.insur_main .insur_item5 .item a {background-color: #ffc320;}

/*==============  insurance_product(互联网保险内页)    ======================*/
.insurance_product_in { border-top: 1px solid #e1e1e1; padding-top: 20px;}
.insurance_product_in_white { width: 1200px; padding-top: 14px; background-color: #fff; margin: 0 auto;}
.insurance_product_item { width: 1170px; height: 186px; border: 1px solid #e1e1e1; margin: 0 auto 20px;}
.insurance_product_item:hover { border-color: #ffcf10;}
.insurance_product_item .pic { margin: 8px 6px 0 8px;}
.insurance_product_item .info .head { width: 919px; height: 70px; border-bottom: 1px solid #e1e1e1;}
.insurance_product_item .info .head h2 { font:18px/70px "microsoft yahei"; color: #323232; padding-left: 30px;}
.insurance_product_item .info .main .item { width: 167px; height: 100px;}
.insurance_product_item .info .main .item h3 { padding-top: 14px; font: 16px/2.6 "microsoft yahei"; color: #b9b9b9; text-align: center;}
.insurance_product_item .info .main .item p { font: 16px/2.6 "microsoft yahei"; color: #ffc73e; text-align: center;}
.insurance_product_item .info .main .link {width: 250px; height: 100px; border-left: 1px dashed #e1e1e1; margin-top: 8px;}
.insurance_product_item .info .main .link p { font:16px/50px "microsoft yahei"; color: #b9b9b9; text-align: center;}
.insurance_product_item .info .main .link span { font:30px/50px "microsoft yahei"; color: #ffc73e; text-align: center;}
.insurance_product_item .info .main .link_in { display: block; width: 94px; height: 30px; border: 1px solid #ffc73e; font:14px/30px "microsoft yahei"; color: #ffc73e; text-align: center; margin: 0 auto;}
/*保险看点*/
.insurance_product_watch .truse_new_watch { width: 100%;}
.insurance_product_watch .truse_new_watch_main .page { width: 100%; margin:0;}
.insurance_product_watch .truse_new_watch_main .page .info { width: 1070px;}



/*=============================  关于我们    =====================================*/
/*公共*/
.about_head { width: 360px; height: 70px; border-bottom: 2px solid #a0a0a0; margin: 0 auto;}
.about_head h2 {width: 130px; padding: 0 20px; font: 32px/70px "microsoft yahei"; border-bottom: 2px solid #ffc73e; margin: 0 auto; text-align: center; color: #515151;}

/*关于我们导航*/
.about_nav { width: 100%; height: 42px; background-color: #FFFFFF; border-bottom: 2px solid #ffc73e; }
.about_nav_container { width: 870px; margin: 0 auto;}
.about_nav_container li { float: left; position: relative;}
.about_nav_container li a { display: block; padding: 0 40px; font: 16px/42px "microsoft yahei"; color: #555555;}
.about_nav_container li a:hover { color: #ffc73e; }
.about_nav_container li .list {  position: absolute; left: 65px; bottom: 0; width:0; height:0; border:6px solid #ffc73e; border-color: transparent transparent #ffc73e transparent; display: none;}
.about_nav_container li .active { color: #ffc73e; display: block;}

/*关于我们_介绍*/
.about_explain { width: 100%; height: 610px; padding-top: 60px; background: url(../imgs/aboutUs/about_explain.jpg) no-repeat top center;}
.about_explain h2 { font:44px/1 "microsoft yahei"; text-align: center; color: #FFFFFF;}
.about_explain .title { width: 360px; height: 50px; border-bottom: 2px solid #FFFFFF; margin: 0 auto;}
.about_explain .title h3 {width: 260px; font: bold 18px/50px "microsoft yahei"; border-bottom: 2px solid #ffc73e; margin: 0 auto; text-align: center; color: #FFFFFF;}
.about_explain .main { width: 980px; padding-top: 20px; margin: 0 auto; }
.about_explain .main p { font:16px/48px "microsoft yahei"; color: #FFFFFF;}
.about_explain img { margin: 20px auto; cursor: pointer;}

/*关于我们_股东背景*/
.about_share { padding: 30px 0 50px;}
.about_share .title { width: 940px; margin: 0 auto; }
.about_share .title p { margin-top: 30px; font: 16px/42px "microsoft yahei"; text-indent: 2em; color: #515151;}
.about_share .main { width: 1200px; padding-top: 100px; margin: 0 auto; background: url(../imgs/aboutUs/about_share_bg.png) no-repeat top center;}
.about_share .main .list { width: 1200px;}
.about_share .main .list_main { width: 570px; position: relative;}
.about_share .main .list_main h3 { font:35px/1.8 "microsoft yahei"; color: #ffc73e;}
.about_share .main .list_main h4 { font:18px/1.8 "microsoft yahei"; color: #515151;}
.about_share .main .list_main p { font:14px/1.8 "microsoft yahei"; color: #515151;}
.about_share .main .list_main .node { width: 10px; height: 10px; border: 3px solid #ffc73e; border-radius: 50%; background-color: #FFFFFF; position: absolute;}
.about_share .main .list_main .node:hover { background-color: #ffc73e;}
.about_share .main .left { padding-right: 30px;}
.about_share .main .right { padding-left: 30px;}
.about_share .main .left .node { right: -8px; top: 40px;}
.about_share .main .right .node { left: -8px; top: 40px;}

/*关于我们_企业文化*/
.about_culture { height: 420px; padding-top: 30px; background: #f9f9f9 url(../imgs/aboutUs/about_culture_bg.png) no-repeat center bottom;}
.about_culture .main { padding-top: 90px;}
.about_culture .page { width: 33.33%; float: left;}
.about_culture .page .head { width: 190px; height: 66px; margin: 0 auto 20px;}
.about_culture .page p { color: #515151; line-height: 30px;}

/*关于我们_管理团队*/
.about_teams { padding-top: 30px;}
.about_teams .pic { width: 1156px; height: 256px; margin: 80px auto 0; position: relative; /*background-color: pink;*/}
.about_teams .pic span { width: 40px; height: 256px; float: left; cursor: pointer;}
.about_teams .pic .prev { background: url(../imgs/aboutUs/about_teams_prev.png) no-repeat center center;}
.about_teams .pic .next { float: right; background: url(../imgs/aboutUs/about_teams_next.png) no-repeat center center;}
.about_teams .pic_in { width: 1076px; height: 256px;/* background-color: green;*/ float: left; position: relative; overflow: hidden;}
.about_teams .pic_in_in { width: 50000px; position: absolute; top: 0; left: -3980px;}
.about_teams .pic .page { width: 175px; height: 175px; border-radius: 50%; float: left; margin: 40px 12px; background: url(../imgs/aboutUs/about_teams_page3.jpg) no-repeat top center;background-size: cover;}
.about_teams .pic .page .pos { width: 100%; height: 100%; border-radius: 50%; background: rgba(255,255,255,.85);}
.about_teams .pic .page h4 { font:20px/2 "microsoft yahei"; color: #515151; padding-top: 60px;}
.about_teams .pic .page p { font:14px/1 "microsoft yahei"; color: #969696;}
.about_teams .pic .page1 { background: url(../imgs/aboutUs/about_teams_page1.jpg) top center; background-size: cover;}
.about_teams .pic .page2 { background: url(../imgs/aboutUs/about_teams_page2.jpg) top center; background-size: cover;}
.about_teams .pic .page4 { background: url(../imgs/aboutUs/about_teams_page4.jpg) top center; background-size: cover;}
.about_teams .pic .page5 { background: url(../imgs/aboutUs/about_teams_page5.jpg) top center; background-size: cover;}
.about_teams .pic .page:nth-of-type(23) { width: 256px; height: 256px; background: url(../imgs/aboutUs/about_teams_page3.jpg) top center; background-size: cover; margin-top: 0;}
.about_teams .pic .page:nth-of-type(23) .pos { display: none;}

.about_teams .title { width: 490px; height: 300px; margin: 0 auto; position: relative;}
.about_teams .title h3 { font:30px/2.5 "microsoft yahei"; color: #515151;}
.about_teams .title h3 span { font-size: 16px; color: #515151;}
.about_teams .title p { line-height: 1.5; color: #515151;}
.about_teams .title .cut { height: 20px; border-bottom: 1px solid #b4b4b4;}
.about_teams .title h5 { padding: 20px 40px; font-size: 14px; line-height: 1.5; color: #c3c3c3;}

.about_teams .title .list { position: absolute; top: 0; left: 0; display: none;}
.about_teams .title .list:nth-of-type(3) { display: block;}

/*关于我们_团队风采*/
.about_teamColor { padding-top: 30px; padding-bottom: 50px; background-color: #f9f9f9;}
.about_teamColor .poster-main{ position:relative;width:1000px;height:330px; margin: 50px auto;}
.about_teamColor .poster-main a,.about_teamColor .poster-main img{display:block;}
.about_teamColor .poster-main .poster-list{width:560px;height:330px;}
.about_teamColor .poster-main .poster-list .poster-item{ position:absolute;left:0;top:0;box-shadow: 0 5px 20px rgba(0,0,0,.5);}
.about_teamColor .poster-main .poster-list .poster-item img { margin: 0;}
.about_teamColor .poster-main .poster-btn{ position:absolute;top:0;width:30px;height:330px; z-index:10; cursor:pointer;  opacity:0.8}
.about_teamColor .poster-main .poster-prev-btn{left:0; background: url(../imgs/aboutUs/about_teamColor_prev.png) no-repeat center center;}
.about_teamColor .poster-main .poster-next-btn{right:0; background: url(../imgs/aboutUs/about_teamColor_next.png) no-repeat center center;}

/*关于我们_办公环境*/
.about_office { padding-top: 30px; }
.about_office .main { width: 1800px; height: 190px; /*padding: 10px; border: 1px solid #ccc;*/ margin: 110px auto;}
.about_office .main_in { width: 1800px; height: 190px; position: relative; overflow: hidden;}
.about_office .main ul { width: 5000px; position: absolute; top: 0; left: 0;}
.about_office .main li { float: left; width: 290px; height: 190px; background-color: greenyellow; margin-right: 12px; cursor: pointer;}
.about_office .main .one { background-image: url(../imgs/aboutUs/office/off_1.jpg);}
.about_office .main .two { background-image: url(../imgs/aboutUs/office/off_2.jpg);}
.about_office .main .three { background-image: url(../imgs/aboutUs/office/off_3.jpg);}
.about_office .main .four { background-image: url(../imgs/aboutUs/office/off_4.jpg);}
.about_office .main .five { background-image: url(../imgs/aboutUs/office/off_5.jpg);}
.about_office .main .six { background-image: url(../imgs/aboutUs/office/off_6.jpg);}

.about_office_pop { width: 100%; height: 100%; background: rgba(0,0,0,.6); position: fixed; top: 0; left: 0; z-index: 999; display: none;}
.about_office_pop_in { width: 610px; height: 400px; position: absolute; top: 0; left: 0; bottom: 0; right: 0; margin: auto;}
.about_office_pop_in .prev,.about_office_pop_in .next { width: 100px; height: 400px; position: absolute; top: 0; cursor: pointer;}
.about_office_pop_in .prev { left: -100px; background: url(../imgs/aboutUs/about_teamColor_prev.png) no-repeat center center;}
.about_office_pop_in .next { right: -100px; background: url(../imgs/aboutUs/about_teamColor_next.png) no-repeat center center;}
.about_office_pop_in .close { width: 50px; height: 50px; font: 35px/50px arial; text-align: center; color: #fff; position: absolute; top: -50px; right: -50px; cursor: pointer;}
.about_office_pop_in .pop_main li {width: 610px; height: 400px; position: absolute; top: 0; left: 0;}
.about_office_pop_in .pop_main .one { background-image: url(../imgs/aboutUs/office/off_1_big.jpg); }
.about_office_pop_in .pop_main .two { background-image: url(../imgs/aboutUs/office/off_2_big.jpg); }
.about_office_pop_in .pop_main .three { background-image: url(../imgs/aboutUs/office/off_3_big.jpg); }
.about_office_pop_in .pop_main .four { background-image: url(../imgs/aboutUs/office/off_4_big.jpg); }
.about_office_pop_in .pop_main .five { background-image: url(../imgs/aboutUs/office/off_5_big.jpg); }
.about_office_pop_in .pop_main .six { background-image: url(../imgs/aboutUs/office/off_6_big.jpg); }

/*关于我们_联系我们*/
.about_tel { width: 100%; height: 732px; padding-top: 30px; background: url(../imgs/aboutUs/about_tel_bg.jpg) no-repeat center center;}
.about_add { padding: 88px 40px 0 70px; }
.about_add .left { width: 700px;}
.about_add .left li { width: 350px; height: 170px;}
.about_add .left li:nth-of-type(3),.about_add .left li:nth-of-type(4) { height: 80px;}
.about_add .left li .tit { padding-top: 4px;}
.about_add .left li p { font:20px/1.4 "microsoft yahei"; color: #515151; margin-left: 20px;}
.about_add .left h5 { font:20px/80px "microsoft yahei"; color: #515151;}
.about_add .left .sell { display: inline-block; width: 132px; margin: 0 100px 0 40px;}
.about_add .left .sell p { line-height: 2; color: #515151; text-align: center;}


/*==================================  安全保障     ===========================*/
.safe_banner { width: 100%; min-width: 1200px; height: 360px; background: url(../imgs/safeGuard/safeguard_banner.jpg) no-repeat center center;}

/*安全保障_五大保障*/
.safeGuard_five_pro_in { padding: 45px 14px 55px; border-bottom: 1px solid #a2a2a2;}
.safeGuard_five_pro_in .list { width: 177px; height: 177px; margin-right: 70px;}
.safeGuard_five_pro_in .five { margin-right: 0px;}
.safeGuard_five_pro_in .list p { font: bold 16px/3 "microsoft yahei"; color: #787878;}
.safeGuard_five_pro .shell { width: 166px; height: 166px; border-radius: 50%; padding: 4px; border: 1px solid #3659db;}
.safeGuard_five_pro .pic { width: 166px; height: 166px; border-radius: 50%; position: relative; overflow: hidden;}
.safeGuard_five_pro .pic .bg { width: 166px; height: 166px; background: url(../imgs/safeGuard/canping_b.png); position: absolute; top: 0; left: 0;}
.safeGuard_five_pro .pic .color { width: 166px; height: 166px; background: url(../imgs/safeGuard/canping_c.png); position: absolute; top: 0; left: 0; opacity: .86;}
.safeGuard_five_pro .pic .pro { width: 166px; height: 166px; background: url(../imgs/safeGuard/canping_w.png) no-repeat center center; position: absolute; top: 0; left: 0;}
.safeGuard_five_pro .two .pic .bg { background: url(../imgs/safeGuard/liuchen_b.png);}
.safeGuard_five_pro .two .pic .color { background: url(../imgs/safeGuard/liuchen_c.png);}
.safeGuard_five_pro .two .pic .pro { background-image: url(../imgs/safeGuard/liuchen_w.png);}
.safeGuard_five_pro .three .pic .bg { background: url(../imgs/safeGuard/neikong_b.png);}
.safeGuard_five_pro .three .pic .color { background: url(../imgs/safeGuard/neikong_c.png);}
.safeGuard_five_pro .three .pic .pro { background-image: url(../imgs/safeGuard/neikong_w.png);}
.safeGuard_five_pro .four .pic .bg { background: url(../imgs/safeGuard/shuju_b.png);}
.safeGuard_five_pro .four .pic .color { background: url(../imgs/safeGuard/shuju_c.png);}
.safeGuard_five_pro .four .pic .pro { background-image: url(../imgs/safeGuard/shuju_w.png);}
.safeGuard_five_pro .five .pic .bg { background: url(../imgs/safeGuard/genzhong_b.png);}
.safeGuard_five_pro .five .pic .color { background: url(../imgs/safeGuard/genzhong_c.png);}
.safeGuard_five_pro .five .pic .pro { background-image: url(../imgs/safeGuard/genzhong_w.png);}

/*安全保障_主要内容*/
.safeGuard_safe {}
.safeGuard_safe .cp_bg { width: 1200px; height: 650px; margin: 30px auto 0; background: url(../imgs/safeGuard/cp_bg.png) no-repeat top center; position: relative; border-bottom: 1px solid #a2a2a2;}
.safeGuard_safe .cp_bg .page {position: absolute;}
.safeGuard_safe .cp_bg .page1 {width: 420px;top: -20px; right: 0;}
.safeGuard_safe .cp_bg h3 { font: italic 60px/1 arial; color: #ee9700;}
.safeGuard_safe .cp_bg h3 span { font-size: 18px; font-style: normal; font-family: "microsoft yahei";}
.safeGuard_safe .cp_bg p { font:14px/2 "microsoft yahei"; color: #818181;}
.safeGuard_safe .cp_bg .wide { font-weight: bold;}
.safeGuard_safe .cp_bg .page2 {width: 450px; padding-left: 20px; left: 0; bottom: 80px;}


.safeGuard_safe .safe_in { padding-bottom: 20px; border-bottom: 1px solid #a2a2a2;}
.safeGuard_safe .safe_in .txt { width: 550px; padding-left: 20px;}
.safeGuard_safe .safe_in .pic { width: 540px; height: 600px; background: url(../imgs/safeGuard/lc_pic.png) no-repeat center center; margin-right: 60px;}
.safeGuard_safe .safe_in .txt p { font:14px/3 "microsoft yahei"; color: #818181;}
.safeGuard_safe .safe_in .txt .col { font-size: 18px; color: #ee9700;}

.safeGuard_safe_2 .safe_in .pic { height: 540px; background-image: url(../imgs/safeGuard/nk_pic.png);}
.safeGuard_safe_2 .safe_in .txt { margin-top: 40px;}
.safeGuard_safe_3 .safe_in .pic { height: 420px; background-image: url(../imgs/safeGuard/sj_pic.png);}
.safeGuard_safe_3 .safe_in .txt { margin-top: 40px;}
.safeGuard_safe_4 .safe_in { border: none}
.safeGuard_safe_4 .safe_in .pic { height: 340px; margin-bottom: 50px; background-image: url(../imgs/safeGuard/gz_pic.png);}
.safeGuard_safe_4 .safe_in .txt { margin-top: 100px;}

/*==================  常见问题与最新公告/媒体报道  ===================*/
.notice_question {border-top: 2px solid #ffc73e; padding-top: 20px;}
.notice_question_in { width: 1198px; margin-bottom: 100px; border: 1px solid #e1e1e1; background-color: #fff;}
.notice_question_in .sub_tit { width: 169px;}
.notice_question_in .sub_tit .hollow { width: 169px; height: 29px; border-bottom: 1px solid #e1e1e1;}
.notice_question_in .sub_tit_item { width: 169px; height: 56px; background-color: #fbfbfa; border-bottom: 1px solid #e1e1e1; font: 18px/56px "microsoft yahei"; color: #787877; text-align: center; cursor: pointer;}
.notice_question_in .sub_tit_box .active { background-color: #ffc73e; color: #fff;}
.notice_question_in .sub_main { width: 1028px; min-height: 600px; border-left: 1px solid #e1e1e1;}
.notice_question_in .sub_main_word { padding-left: 40px; padding-top: 35px;}
.notice_question_in .sub_main_word .tit { font:bold 24px/2 "microsoft yahei"; color: #ffc73e; border-bottom: 3px solid #e1e1e1;}
.notice_question_in .sub_main_word .item { height: 20px; padding: 30px 26px 30px 0; border-bottom: 1px dashed #e1e1e1; font: 16px/20px "microsoft yahei";}
/*常见问题*/
.notice_question_in .sub_tit_item_help,.notice_question_in .sub_tit_item_help_in { display: block; width: 169px; height: 56px; background-color: #fbfbfa; border-bottom: 1px solid #e1e1e1; font: 18px/56px "microsoft yahei"; color: #787877; text-align: center; cursor: pointer; position: relative;}
.notice_question_in .sub_tit_item_help i { width: 15px; height: 16px; background: url(../imgs/product/notice_question_type_black.png) no-repeat; position: absolute; top: 22px; right: 10px; -webkit-transform: rotate(180deg); transform: rotate(180deg); -webkit-transition: all .5s; transition: all .5s;}
.notice_question_in .sub_tit_item_help i.active {-webkit-transform: rotate(0); transform: rotate(0); background: url(../imgs/product/notice_question_type_white.png) no-repeat;}
.notice_question_in .sub_tit_item_help:hover,.notice_question_in .sub_tit_box_help .active { background-color: #ffc73e; color: #fff;}
.notice_question_in .sub_tit_item_help:hover i,.notice_question_in .sub_tit_item_help i.activeee {background: url(../imgs/product/notice_question_type_white.png) no-repeat;}
.notice_question_in .sub_tit_item_help_in:hover {background-color: #fff4da;}
.notice_question_in .sub_tit_item_help_down .active {background-color: #fff4da;}

.notice_question_in .sub_main_content { position: relative;}
.notice_question_in .sub_main_content .head { padding: 30px 0 20px 0; margin-left: 40px; border-bottom: 3px solid #e1e1e1;}
.notice_question_in .sub_main_content .head .tit {font: bold 24px/2 "microsoft yahei"; color: #555555; text-align: center;}
.notice_question_in .sub_main_content .head .time {font: 14px/2 "microsoft yahei"; color: #bababa; text-align: center;}
.notice_question_in .sub_main_content .bd { padding: 20px 40px 30px 70px;}
.notice_question_in .sub_main_content .bd .link { width: 160px; margin: 30px auto 0;}
.notice_question_in .sub_main_content .bd .link a { float: left; font-size: 14px; padding: 4px 8px; border-radius: 2px; background-color: #ffc73e; color: #fff;}

.notice_question_in .sub_main_img { padding: 30px 0 50px 40px;}
.notice_question_in .sub_main_img .tit { font: bold 24px/2.2 "microsoft yahei"; color: #ffc73e; border-bottom: 3px solid #e1e1e1;}
.notice_question_in .sub_main_img .item { padding-bottom: 20px; border-bottom: 1px dashed #e1e1e1;}
.notice_question_in .sub_main_img .item .img { width: 150px; margin-right: 45px; padding-top: 26px;}
.notice_question_in .sub_main_img .item .main { width: 760px; padding-right: 30px; padding-top: 20px;}
.notice_question_in .sub_main_img .item .main .title { font:20px/2.2 "microsoft yahei"; color: #555555;}
.notice_question_in .sub_main_img .item .main .info { font:14px/2.2 "microsoft yahei"; color: #bababa; margin-top: 10px;}
.notice_question_in .sub_main_img .item .main .info span { margin-right: 60px;}
.notice_question_in .sub_main_img .item .main_in { font: 14px/2 "microsoft yahei"; color: #747474;}

/*==================  投研信息  ===================*/
/*public推荐区*/
.research_recommen_in { width: 318px; background-color: #FFFFFF; border: 1px solid #e1e1e1; margin-bottom: 20px;}
.research_recommen_in .head { height: 31px; padding-left: 12px; padding-top: 10px; border-bottom: 1px solid #e1e1e1;}
.research_recommen_in .head h2 { font:18px/1.2 "microsoft yahei"; color: #ffc73e; border-left: 3px solid #ffc73e; padding-left: 10px;}
.research_recommen_in .item { margin: 0 10px; padding: 12px 0; border-bottom: 1px dashed #e1e1e1;}
.research_recommen_in .item:last-child { border: 0 none;}
.research_recommen_in .item i { width: 6px; height: 6px; margin: 8px 5px 0 0; border-radius: 100%; background-color: #ffcd54;}
.research_recommen_in .item .num { width: 20px; height: 20px; margin: 0 7px 0 0; border-radius: 100%; font:14px/20px "microsoft yahei"; color: #ffffff; text-align: center;}
.research_recommen_in .item .yellow { background-color: #ffcd54;}
.research_recommen_in .item .gray { background-color: #bfbfbf;}
.research_recommen_in .item a { max-width: 280px; font:14px/1.6 "microsoft yahei"; color: #656565; text-overflow:ellipsis; overflow:hidden; white-space:nowrap;}
/*隐藏和显示*/
.research_recommen_class { display: none;}
.research_recommen_class_db { display: block;}


.research_banner { width: 100%; min-width: 1200px; height: 360px; background: url(../imgs/product/research_banner.jpg) no-repeat center;}
.research_cut { height: 75px; width: 100%; background-color: #fff;}
.research_cut .item_group li { float: left; padding: 20px 60px 0 10px;}
.research_cut .item_group li a { display: inline-block; font:16px/2 "microsoft yahei"; color: #656565;}
.research_cut .item_group li a.active { color: #ffc73e; border-bottom: 2px solid #ffc73e;}
/*主要内容*/
.research_home {margin-top: 10px; margin-bottom: 40px;}
.research_home .research_main { width: 858px; min-height: 400px; background-color: #fff; border: 1px solid #e1e1e1;}
.research_main .item_class { display: none;}
.research_main .item_class_db { display: block;}
.research_main .item_main { margin: 0 15px; padding: 22px 0; border-bottom: 1px solid #e1e1e1;}
.research_main .item_main .pic {margin-right: 20px;}
.research_main .item_main .info { width: 588px;}
.research_main .item_main .info .head {margin-bottom: 12px;}
.research_main .item_main .info .head span { width: 460px; text-overflow:ellipsis; overflow:hidden; white-space:nowrap;}
.research_main .item_main .info .head a {font:20px/40px "microsoft yahei"; color: #656565;}
.research_main .item_main .info .head em {font:14px/40px "microsoft yahei"; color: #bababa;}
.research_main .item_main .info .txt {font:14px/2 "microsoft yahei"; color: #bababa;}
.research_main .item_main .info .txt a {color: #ffb500;}
/*投研子页*/
.research_con { border-top: 2px solid #ffc73e; padding-top: 30px; margin-bottom: 40px;}
.research_content { width: 858px; min-height: 400px; background-color: #fff; border: 1px solid #e1e1e1;}
.research_content .head { height: 144px; border-bottom: 1px dashed #e1e1e1; padding-left: 20px;}
.research_content .head .tit { font:24px/3.6 "microsoft yahei"; color: #ffc73e;}
.research_content .head .gray { font:16px/2 "microsoft yahei"; color: #bababa;}
.research_content .bd { padding: 30px 40px 20px;}
.research_content .ft { padding: 40px 0 50px 40px; border-top: 1px dashed #e1e1e1;}
.research_content .ft .item { font:16px/2 "microsoft yahei"; color: #bababa;}
.research_content .ft .item a { font:16px/2 "microsoft yahei"; color: #737373;}


/*========================  404页面    ============================*/
.Error_404 { width: 100%; height: 545px; padding-top: 125px; background: url(../imgs/404_Error/404_Error_bg.jpg);}
.Error_404 .Error_404_pic { display: block; width: 496px; height: 254px; background-image: url(../imgs/404_Error/404_Error.png); margin: 0 auto 50px;}
.Error_404 .Error_404_info { font: italic bold 22px/4 "microsoft yahei"; text-align: center; color: #ff8a00;}
.Error_404 .Error_404_btn { text-align: center; width: 1200px; height: 50px; margin: 0 auto;}
.Error_404 .btn_404 { display: inline-block; height: 50px; width: 180px; font: 20px/50px "microsoft yahei"; color: #FFFFFF; text-align: center;}
.Error_404 .home { background-color: #ff8a00; margin-right: 25px;}
.Error_404 .high { background-color: #c2151f;}

















