@charset "UTF-8";

body {
	background:#030823 url(../img/VR_bg.jpg) no-repeat top center;
}
.container {
	width: 1200px;
	margin: 0 auto;
}
/*三角简介区域*/
.pre {
	width: 940px;
	margin: 40px auto;
	position: relative;
	padding: 20px;
}
.pre p {
	font: 18px/2.5 "microsoft yahei";
	color: #51ccdf;
	text-indent: 2em;
}
.pre .angle1 {
	width: 33px;
	height: 33px;
	background: url(../img/VR_title_angle_L.png) no-repeat;
	position: absolute;
	left: 0;
	top: 0;
}
.pre .angle2 {
	width: 33px;
	height: 33px;
	background: url(../img/VR_title_angle_R.png) no-repeat;
	position: absolute;
	right: 0;
	bottom: 0;
}
.banner {
	width: 100%;
	height: 706px;
	background: url(../img/VR_banner.jpg) no-repeat top center;
	border: none;
	margin: 0;
}
.title {
	width: 700px;
	height: 170px;
	margin: 0 auto;
	position: relative;
}
.title_bg {
	width: 630px;
	height: 152px;
	background: url(../img/VR_title_bg.png) no-repeat;
	position: absolute;
	bottom: 0;
	right: 0;
	font: bold 30px/151px "microsoft yahei";
	color: #51ccdf;
	text-align: center;
	text-indent: -2em;
}
.title_po {
	width: 135px;
	height: 121px;
	background: url(../img/VR_title_Top.png) no-repeat;
	/*animation: run 60s linear 1s;*/
	position: absolute;
	top: -10px;
	left: -10px;
}
/*@keyframes run{
	from{transform: rotate(0); transform-origin:68px 61px;}
	to{transform: rotate(720deg); transform-origin:68px 61px;}
}*/
.title span {
	font: bold 66px/1 "microsoft yahei";
	color: #0bb6db;
	text-align: center;
	position: absolute;
	left: 45px;
	top: 10px;
}
.nav1 {
	padding-top: 90px;
}
.nav1 .table {
	width: 1024px;
	height: 506px;
	background-image: url(../img/VR_title1_table.png);
	margin: 50px auto 0;
}
.nav2 {
	padding-top: 100px;
}
.nav2_main {
	width: 400px;
	height: 280px;
	margin: 50px 100px 25px;
	float: left;
	position: relative;
}
.nav2_main .top {
	width: 400px;
	height: 240px;
	background: url(../img/VR_title2_bg.png) no-repeat center center;
	animation: run1 60s linear 1s;
}
@keyframes run1{
	from{transform: rotate(0);}
	to{transform: rotate(720deg);}
}
.nav2_main span {
	position: absolute;
	top: 0px;
	left: 50%;
	transform: translateX(-50%);
	font: bold 18px/240px "microsoft yahei";
	color: #51ccdf;
}
.nav2_main p {
	font: 16px/30px "microsoft yahei";
	color: #51ccdf;
}
.nav3 {
	padding-top: 100px;
}
.nav3 .place {
	width: 1160px;
	margin: 0 auto;
}
.nav3 .place_in {
	width: 217px;
	margin: 7px;
	float: left;
}
.nav3 .place_in .p_top {
	width: 217px;
	height: 32px;
	background: url(../img/VR_title3_title1.png) no-repeat;
	font-size: 16px;
	line-height: 2;
	color: #FFFFFF;
	text-align: center;
	margin-bottom: 14px;
}
.nav3 .place_in .p_bottom {
	width: 197px;
	height: 95px;
	padding: 20px 10px;
	background: url(../img/VR_title3_title1_main.png) no-repeat;
	font-size: 14px;
	line-height: 1.5;
	color: #FFFFFF;
}
.nav3 .ps {
	font-size: 14px;
	color: #51ccdf;
	line-height: 4;
	padding-left: 10px;
}
.nav3-title {
	margin: 50px auto;
}
.nav3-title h2 {
	width: 289px;
	height: 41px;
	background: url(../img/VR_title3_title2.png) no-repeat;
	font: 20px/40px "microsoft yahei";
	text-align: center;
	margin: 0 auto;
}
.nav3-title p {
	font: 14px/2 "microsoft yahei";
	text-align: center;
}
.nav3 .work {
	width: 1110px;
	margin: 0 auto;
}
.nav3 .work1 {
	width: 450px;
	height: 277px;
	border: 1px solid #00bbec;
	box-shadow: 0 6px 40px rgba(151,255,251,.37);
	margin: 0 50px 20px;
	float: left;
	position: relative;
}
.nav3 .work1 .img {
	width: 450px;
	height: 277px;
	background: url(../img/VR_work1.jpg) no-repeat;
	opacity: .8;
	position: absolute;
	left: 0;
	top: 0;
}
.nav3 .work1 .img_add {
	background: url(../img/VR_work2.jpg) no-repeat;
}
.nav3 .work1 .shade {
	width: 418px;
	height: 157px;
	padding: 60px 16px;
	background-color: rgba(0,0,0,.8);
	position: absolute;
	top: 0;
	left: 0;
}
.nav3 .work1 .shade h3 {
	font: bold 18px/3 "microsoft yahei";
}
.nav3 .work1 .shade p {
	font: 16px/2 "microsoft yahei";
}
.nav3 .project {
	width: 975px;
	height: 340px;
	padding: 10px;
	border: 1px solid #00bbec;
	box-shadow: 0 10px 60px rgba(151,255,251,.4);
	margin: 0 auto;
	position: relative;
}
.nav3 .project_1 {
	width: 250px;
	height: 340px;
	overflow: hidden;
}
.nav3 .project_2 {
	width: 320px;
	height: 200px;
	overflow: hidden;
}
.nav3 .project_3 {
	width: 320px;
	height: 138px;
	overflow: hidden;
}
.nav3 .project_4 {
	width: 385px;
	height: 340px;
	overflow: hidden;
}
.nav3 .project .img1 {
	width: 250px;
	height: 340px;
	background-image: url(../img/VR_project1.jpg);
}
.nav3 .project .img2 {
	width: 320px;
	height: 200px;
	background-image: url(../img/VR_project2.jpg);
}
.nav3 .project .img3 {
	width: 320px;
	height: 138px;
	background-image: url(../img/VR_project3.jpg);
}
.nav3 .project .img4 {
	width: 385px;
	height: 340px;
	background-image: url(../img/VR_project4.jpg);
}
.nav3 .project_1 {
	position: absolute;
	top: 10px;
	left: 10px;
}
.nav3 .project_2 {
	position: absolute;
	top: 10px;
	left: 270px;
}
.nav3 .project_3 {
	position: absolute;
	top: 212px;
	left: 270px;
}
.nav3 .project_4 {
	position: absolute;
	top: 10px;
	left: 600px;
}

.nav4 {
	padding-top: 100px;
}
.nav4 .main {
	margin-top: 100px;
}
.nav4 .left {
	float: left;
	margin-left: 50px;
}
.nav4 .right {
	float: right;
	margin-right: 50px;
}

.nav5 {
	padding-top: 200px;
}
.nav5 .main {
	width: 670px;
	height: 300px;
	margin: 0 auto;
	position: relative;
}
.nav5 .main .left {
	width: 320px;
	height: 200px;
	border: 1px solid #00bbec;
	box-shadow: 0 10px 60px rgba(151,255,251,.4);
	background-image: url(../img/VR_learn_left.jpg);
	position: absolute;
	top: 0;
	left: 0;
}
.nav5 .main .right {
	width: 360px;
	height: 230px;
	border: 1px solid #00bbec;
	box-shadow: 0 10px 60px rgba(151,255,251,.4);
	background-image: url(../img/VR_learn_right.jpg);
	position: absolute;
	bottom: 0;
	right: 0;
}

.footer {
	width: 100%;
	height: 300px;
	padding-top: 450px;
	background: url(../img/VR_footer.png) no-repeat top center;
	margin-top: -300px; 
}
.footer_title {
	width: 384px;
	height: 37px;
	background: url(../img/VR_footer_title.png) no-repeat;
	margin: 0 auto;
}
.footer_btn {
	display: block;
	width: 333px;
	height: 79px;
	margin: 30px auto;
	background-image: url(../img/VR_footer_btn.png);
	font: 36px/80px "microsoft yahei";
	color: #b4f3ff;
	text-align: center;
}
.footer_btn:hover {
	background-image: url(../img/VR_footer_btn_hover.png);
}

























