@charset "UTF-8";


h2 {
	display: inline;
	font-size: 30px;
	line-height: 1;
	padding: 14px 50px;
	border: 2px solid #ffcc00;
	position: absolute;
	top: 90px;
	left: 50%;
	transform: translateX(-50%);
}





.top {
	width: 100%;
	height: 770px;
	background: url(../img/wan_top.jpg) no-repeat top center;
}
.daodu {
	width: 1030px;
	margin: 0 auto;
}
.daodu .head {
	width: 163px;
	height: 30px;
	border: 1px solid #000000;
	margin: 40px auto 60px;
	text-align: center;
	position: relative;
}
.daodu .head span {
	display: inline-block;
	width: 96px;
	height: 30px;
	background-color: #FFFFFF;
	font-size: 24px;
	color: #070823;
	position: absolute;
	bottom: -12px;
	left: 35px;
}
.daodu .title {
	width: 1030px;
	font: 20px/2 "microsoft yahei";
	text-align: left;
	color: #323232;
	margin-bottom: 40px;
}
.daodu .title1 {
	font: bold 16px/4 "microsoft yahei";
	color: #5a3098;
	text-align: center;
}
.daodu .title2 {
	font: 14px/4 ""microsoft yahei;
	color: #743ec5;
	text-align: center;
}
.daodu .make {
	width: 1030px;
	height: 500px;
	margin: 0 auto;
	margin-top: 50px;
}
.daodu .make .area {
	width: 420px;
	float: left;
}
.daodu .make .price {
	width: 420px;
	float: right;
}
.daodu .make  .dep {
	font: 14px/2 "microsoft yahei";
	color: #323232;
	margin-top: 20px;
}
.daodu .make  .dep i {
	color: #7051c7;
	font-weight: bold;
}

/*产品概括*/
.product {
	height: 693px;
	width: 100%;
	min-width: 1200px;
	background: url(../img/wan_product.jpg) no-repeat top center;
	position: relative;
	padding-top: 270px;
}
.product .table {
	width: 1050px;
	height: 540px;
	background: rgba(29,9,59,.58);
	margin: 0 auto;
}
.product table {
	width: 100%;
	height: 100%;
}
.product table td {
	height: 56px;
	font-size: 16px;
	padding-left: 20px;
}
.product table tr {
	border-bottom: 1px solid rgba(216,214,255,.32);
}
.product table .last {
	border: none;
}
.product table .left {
	border-right: 1px solid rgba(216,214,255,.32);
}
.product table .one {
	font-weight: bold;
}
.product table .two .right {
	font-size: 14px;
	line-height: 2;
}

/*四大亮点*/
.liangdian {
	width: 100%;
	min-width: 1200px;
	height: 440px;
	padding-top: 220px;
	background: url(../img/wan_liang_bg.jpg);
	position: relative;
}
.liangdian .main {
	width: 1200px;
	margin: 0 auto;
}
.liangdian .main .page {
	width: 240px;
	padding: 0 30px;
	float: left;
}
.liangdian .main .page .pic {
	width: 194px;
	height: 213px;
	font: 30px/200px "microsoft yahei";
	color: #FFFFFF;
	text-align: center;
	background-image: url(../img/wan_liang_in.png);
	margin: 0 auto;
}
.liangdian .main .page p {
	font:14px/2 "microsoft yahei";
}

/*底部*/
.foot {
	position: relative;
	width: 100%;
	height: 970px;
	padding-top: 220px;
	background: url(../img/wan_footer_bg.jpg) no-repeat center bottom;
}
.foot h2 {
	border: 2px solid #000051;
	color: #000051;
}
.foot .main {
	width: 1140px;
	margin: 0 auto;
}
.foot .list {
	width: 220px;
	height: 184px;
	border: 1px solid #5928a2;
	margin: 0 30px;
	float: left;
}
.foot .list .head {
	width: 100%;
	height: 46px;
	font: bold 18px/46px "microsoft yahei";
	text-align: center;
	background-color: #5928a2;
	margin-bottom: 10px;
}
.foot .list p {
	font: 14px/2 "microsoft yahei";
	color: #5928a2;
	margin: 0 8px;
}
.foot .title {
	width: 948px;
	height: 140px;
	background-image: url(../img/wan_footer_title.png);
	margin: 200px auto 100px;
}
.foot .btn {
	display: block;
	width: 410px;
	height: 121px;
	background-image: url(../img/wan_footer_btn.png);
	font: 45px/100px "microsoft yahei";
	text-align: center;
	color: #FFFFFF;
	margin: 0 auto;
}





























